<?xml version="1.0" encoding="UTF-8"?>
<definitions>
  <definition>
    <key>text_index_home_menu</key>
    <value><![CDATA[Accueil]]></value>
  </definition>
  <definition>
    <key>text_product_special_menu</key>
    <value><![CDATA[Escompte]]></value>
  </definition>
  <definition>
    <key>text_account_account_menu</key>
    <value><![CDATA[Compte]]></value>
  </definition>
  <definition>
    <key>text_checkout_cart_menu</key>
    <value><![CDATA[Chariot]]></value>
  </definition>
  <definition>
    <key>text_checkout_shipping_menu</key>
    <value><![CDATA[Caisse]]></value>
  </definition>
  <definition>
    <key>text_account_login_menu</key>
    <value><![CDATA[S'identifier]]></value>
  </definition>
  <definition>
    <key>text_account_invoice_menu</key>
    <value><![CDATA[Vérifiez votre commande]]></value>
  </definition>
  <definition>
    <key>text_account_logout_menu</key>
    <value><![CDATA[Connectez - Out]]></value>
  </definition>
</definitions>
