<?xml version="1.0"?>
<extension>
    <id>encryption_data_manager</id>
    <version>1.0.1</version>
	<type>extensions</type>
	<category>utility</category>
    <cartversions>
        <item>1.2</item>
    </cartversions>
    <layout></layout>
    <priority>10</priority>
    <settings>
		<item id="encryption_data_manager_status">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
    </settings>
	<additional_settings>extension/encryption_data_manager</additional_settings>
	<note>true</note>
	<help_file><![CDATA[help.txt]]></help_file>
    <install>
	    <sql>install.sql</sql>
	</install>
	<uninstall>
	    <sql>uninstall.sql</sql>
	</uninstall>
</extension>