<?xml version="1.0"?>
<extension>
    <id>default_pp_standart</id>
    <version>1.0.2</version>
	<type>payment</type>
	<category>payment</category>
    <cartversions>
        <item>1.2</item>
    </cartversions>
    <layout></layout>
    <priority>10</priority>
    <settings>
	    <item id="default_pp_standart_email">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
	    <item id="default_pp_standart_test">
            <type>selectbox</type>
			<default_value>1</default_value>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
        </item>
	    <item id="default_pp_standart_order_status_id">
            <type>selectbox</type>
			<variants>
				<item>1</item>
				<item>2</item>
				<item>5</item>
			</variants>
			<default_value>2</default_value>
        </item>
	    <item id="default_pp_standart_transaction">
            <type>selectbox</type>
			<variants>
				<item>0</item>
				<item>1</item>
			</variants>
		    <default_value>1</default_value>
        </item>
	    <item id="default_pp_standart_location_id">
            <type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
                   <model_rt>localisation/location</model_rt>
                   <method>getLocations</method>
				</data_source>
				<fields>
					<field>location_id</field>
					<field>name</field>
				</fields>
			</variants>
        </item>
		<item id="default_pp_standart_custom_logo">
			<type>resource</type>
			<resource_type>image</resource_type>
			<default_value></default_value>
		</item>
		<item id="default_pp_standart_cartbordercolor">
			<type>input</type>
			<default_value></default_value>
		</item>
		<item id="default_pp_standart_redirect_payment">
			<type>hidden</type>
			<default_value>true</default_value>
		</item>
		
    </settings>
	<note>true</note>
	<custom_settings_template>pages/extension/default_pp_standart_settings.tpl</custom_settings_template>
    <install>
	    <sql></sql>
	    <trigger>install.php</trigger>
	</install>
	<uninstall>
	    <sql></sql>
	    <trigger>uninstall.php</trigger>
	</uninstall>
</extension>