<?xml version="1.0" encoding="UTF-8"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Menu]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Succes: Du har ændret menuen!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Unikt ID]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Ikon]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Tekst]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Link <br/><span class="help">For eksterne links tilføje http: // eller https: // i starten</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Parent]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Sorteringsrækkefølge]]></value>
	</definition>
	<definition>
		<key>entry_link_category</key>
		<value><![CDATA[Link til kategori]]></value>
	</definition>
	<definition>
		<key>entry_link_page</key>
		<value><![CDATA[Link til side]]></value>
	</definition>
	<definition>
		<key>text_link</key>
		<value><![CDATA[Link]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Root Menu -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Felt kan ikke være tom!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[Vare-ID ikke enestående!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Kun alfanumeriske tegn tilladt for menu-id felt!]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Link type]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Kategori Side]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Sideindhold]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Tilpasset Link eller URL]]></value>
	</definition>
</definitions>
