<?xml version="1.0" encoding="UTF-8"?>
<extension>
	<id>cardconnect</id>
	<version>1.0.2</version>
	<type>payment</type>
	<category>Payment</category>
	<cartversions>
		<item>1.2</item>
	</cartversions>
	<priority>10</priority>
	<dependencies></dependencies>
	<settings>
		<item id="cardconnect_merchant_id">
			<type required="true">input</type>
			<default_value></default_value>
		</item>
		<item id="cardconnect_username">
			<type required="true">input</type>
			<default_value></default_value>
		</item>
			<item id="cardconnect_password">
			<type required="true">input</type>
		<default_value></default_value>
		</item>
		<item id="cardconnect_test_mode">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
		<item id="cardconnect_settlement">
			<type>selectbox</type>
			<variants>
				<item>payment</item>
				<item>auth</item>
			</variants>
			<default_value>payment</default_value>
		</item>
		<item id="cardconnect_save_cards_limit">
			<type>input</type>
			<default_value>5</default_value>
		</item>
		<item id="cardconnect_autoselect">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="cardconnect_status_success_settled">
			<type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>2</default_value>
		</item>
		<item id="cardconnect_status_success_unsettled">
			<type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>2</default_value>
		</item>
		<item id="cardconnect_status_decline">
			<type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>8</default_value>
		</item>
		<item id="cardconnect_status_void">
			<type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>11</default_value>
		</item>
		<item id="cardconnect_status_refund">
			<type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>11</default_value>
		</item>

		<item id="cardconnect_location_id">
			<type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
					<model_rt>localisation/location</model_rt>
					<method>getLocations</method>
				</data_source>
				<fields>
					<field>location_id</field>
					<field>name</field>
				</fields>
			</variants>
		</item>
		<item id="cardconnect_logging">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
	</settings>
	<note>true</note>
	<custom_settings_template>pages/extension/cardconnect.tpl</custom_settings_template>
	<help_file><![CDATA[help.html]]></help_file>
	<help_link><![CDATA[https://www.cardconnect.com/partner/abantecart]]></help_link>
	<install>
		<sql>install.sql</sql>
		<trigger>install.php</trigger>
	</install>
	<uninstall>
		<sql>uninstall.sql</sql>
		<trigger>uninstall.php</trigger>
	</uninstall>
</extension>
