<?xml version="1.0" encoding="UTF-8"?>
<definitions>
  <definition>
    <key>text_index_home_menu</key>
    <value><![CDATA[Baile]]></value>
  </definition>
  <definition>
    <key>text_product_special_menu</key>
    <value><![CDATA[Speisialta]]></value>
  </definition>
  <definition>
    <key>text_account_account_menu</key>
    <value><![CDATA[Cuntas]]></value>
  </definition>
  <definition>
    <key>text_checkout_cart_menu</key>
    <value><![CDATA[cart]]></value>
  </definition>
  <definition>
    <key>text_checkout_shipping_menu</key>
    <value><![CDATA[Seiceáil]]></value>
  </definition>
  <definition>
    <key>text_account_login_menu</key>
    <value><![CDATA[Logáil isteach]]></value>
  </definition>
  <definition>
    <key>text_account_invoice_menu</key>
    <value><![CDATA[Seiceáil Do Ordú]]></value>
  </definition>
  <definition>
    <key>text_account_logout_menu</key>
    <value><![CDATA[Logáil Amach]]></value>
  </definition>
</definitions>
