<?xml version="1.0" encoding="UTF-8"?>
<definitions>
  <definition>
    <key>text_index_home_menu</key>
    <value><![CDATA[家]]></value>
  </definition>
  <definition>
    <key>text_product_special_menu</key>
    <value><![CDATA[特价]]></value>
  </definition>
  <definition>
    <key>text_account_account_menu</key>
    <value><![CDATA[帐户]]></value>
  </definition>
  <definition>
    <key>text_checkout_cart_menu</key>
    <value><![CDATA[大车]]></value>
  </definition>
  <definition>
    <key>text_checkout_shipping_menu</key>
    <value><![CDATA[查看]]></value>
  </definition>
  <definition>
    <key>text_account_login_menu</key>
    <value><![CDATA[登录]]></value>
  </definition>
  <definition>
    <key>text_account_invoice_menu</key>
    <value><![CDATA[检查您的订单]]></value>
  </definition>
  <definition>
    <key>text_account_logout_menu</key>
    <value><![CDATA[登出]]></value>
  </definition>
</definitions>
