<?xml version="1.0" encoding="UTF-8"?>
<extension>
	<id>aws_cdn</id>
	<version>1.0.0</version>
	<type>extension</type>
	<category>extension</category>
	<cartversions>
		<item>1.2</item>
		<item>1.3</item>
	</cartversions>
	<priority>10</priority>
	<dependencies></dependencies>
	<settings>
		<item id="aws_cdn_region">
			<type required="true">input</type>
			<default_value>us-east-1</default_value>
		</item>
		<item id="aws_cdn_aws_profile">
			<type required="true">input</type>
			<default_value>default</default_value>
		</item>
		<item id="aws_cdn_bucket">
			<type required="true">input</type>
			<default_value></default_value>
		</item>
	</settings>
	<install>
		<sql>install.sql</sql>
		<trigger>install.php</trigger>
	</install>
	<uninstall>
		<sql>uninstall.sql</sql>
		<trigger>uninstall.php</trigger>
	</uninstall>
	<note>true</note>
	<help_file><![CDATA[help.txt]]></help_file>
</extension>
