NGINX_HOST="abantecart.localhost"

MARIADB_VERSION="10.6.4-focal"
MYSQL_ROOT_PASSWORD="abantecart_root_password"
MYSQL_DATABASE="abantecart"
MYSQL_USER="abantecart"
MYSQL_PASSWORD="abantecart"

# Sync user ID and group ID to avoid permission issues on development
UID=501  # Replace with your user ID - id -u
GID=20  # Replace with your group ID - id -g
