# Store host
NGINX_HOST="abantecart.localhost"
# Database editor host
NGINX_ADMINER_HOST="adminer.abantecart.localhost"

# Automatically install a fresh development store with sample data
# Admin URL: http://abantecart.localhost:8080/?s=admin
# Admin credentials: admin / admin
INSTALL_DEMO_DATA=false

# Xdebug is disabled by default. Set to develop,debug when needed.
# Modes - develop,debug,trace,profile,coverage,gcstats,off
XDEBUG_MODE=off

MARIADB_VERSION="11.4"
MYSQL_ROOT_PASSWORD="abantecart_root_password"
MYSQL_DATABASE="abantecart"
MYSQL_USER="abantecart"
MYSQL_PASSWORD="abantecart"

# Sync user ID and group ID to avoid permission issues on development
# Replace with your user ID - id -u
UID=1000
# Replace with your group ID - id -g
GID=1000
