#Intellij project files
.idea/
*.iml
*.ipr
*.iws
*.swp
.svn
.DS_Store

#abantecart working files
/public_html/admin/system/updates.xml
/public_html/admin/system/temp/
/public_html/admin/system/backup/
/public_html/admin/system/uploads/
/public_html/system/cache/*
/public_html/system/logs/*
/public_html/system/config.php
/public_html/image/thumbnails/*
/public_html/system/page_builder/*
/public_html/system/page_builder/default/*
/public_html/system/page_builder/default/base.html
