#Intellij project files
.idea/
*.iml
*.ipr
*.iws
*.swp
.svn
.DS_Store

#abantecart working files
/public_html/admin/system/updates.xml
/public_html/admin/system/temp/
/public_html/admin/system/backup/
/public_html/admin/system/uploads/
/public_html/system/cache/*
/public_html/system/logs/*
/public_html/system/config.php
/public_html/image/thumbnails/*
/public_html/system/page_builder/public/*
/public_html/system/page_builder/savepoints/*
/public_html/extensions/novator/storefront/view/novator/default_preset_prepared.json
/public_html/storefront/view/default/default_preset_prepared.json
/public_html/system/page_builder/presets/novator/
/public_html/.htaccess
/public_html/extensions/default_croatian/
/public_html/extensions/default_czech/
/public_html/extensions/default_danish/
/public_html/extensions/default_deutsch/
/public_html/extensions/default_finnish/
/public_html/extensions/default_french/
/public_html/extensions/default_greek/
/public_html/extensions/default_hebrew/
/public_html/extensions/default_hindi/
/public_html/extensions/default_hungarian/
/public_html/extensions/default_italian/
/public_html/extensions/default_korean/
/public_html/extensions/default_norwegian/
/public_html/extensions/default_polish/
/public_html/extensions/default_portuguese/
/public_html/extensions/default_russian/
/public_html/extensions/default_simplified_chinese/
/public_html/extensions/default_slovene/
/public_html/extensions/default_spanish/
/public_html/extensions/default_swedish/
/public_html/extensions/default_ukrainian/
/public_html/.well-known/
