input, select, textarea {
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#565656;
	outline:none;
}
form {
	margin: 0;
	padding: 0;
}


.abuttons_grp {
	display:none;
	margin-left:15px;
	vertical-align:top;
}
#product_related .abuttons_grp {
	margin:5px 0 0 5px;
}
.abuttons_grp .btn_text {
	padding:0 10px;
}

.ajax_result {
	display:inline-block;
	margin-left:15px;
	vertical-align:top;
	display:none;
}
.ajax_loading {
	background: url(../image/ajax-loader.gif) 0 50% no-repeat;
	display:inline-block;
	padding-left:20px;
	height:20px;
	line-height:20px;
	color:#91b118;
}
.ajax_success {
	line-height:20px;
	color:#91b118;
}
.field_err {
	color:#F00;
	margin-top:4px;
	font-style:italic;
	font-size:11px;
}

.ml_field input, .ml_field textarea {
	width:350px;
	resize:none;
}
.ml_field .afield {
	width:365px;
}


/* GLOBAL */
div.aform, div.afield {
	display:inline-block;
	margin:0;
	padding:0;
}
div.mask1 div {
	background-image: url(../image/form/field_mask1.png);
	background-repeat:no-repeat;
}
div.mask2 div {
	background-image: url(../image/form/field_mask2.png);
	background-repeat:no-repeat;
}
div.afield span {
  background-image: url(../image/form/form.png);
  background-repeat: no-repeat;
}
 
.acheckbox *,
.aswitcher *{
	margin: 0;
	padding: 0;
}
.aselect, .acheckbox {
	vertical-align:middle;
}


/* Input, Textarea */
.mask1 .atext {
	color:#09487d;
	background:none;
	height:20px;
	line-height:20px;
	border:0;
	outline:none;
}
.mask2 .atext {
	color:#09487d;
	background:none;
	border:0;
	outline:none;
}

/* Multi Select */
.mask2 select.atext {}

/* Checkbox */
div.acheckbox {
	width:15px;
	height:15px;
	margin:2px;
	display:inline-block;
}
div.acheckbox span {
	display: inline-block;
	width:15px;
	height:15px;
	text-align: center;
}
div.acheckbox input {
	opacity: 0;
	filter: alpha(opacity:0);
	display: inline-block;
	background: none;
	width:15px;
	height:15px;
}

/* Switcher */
div.aswitcher {
	width:88px;
	height:20px;
	margin:2px;
	display:inline-block;
}
div.aswitcher span {
	display: inline-block;
	width:88px;
	height:20px;
	background-position: 0 -110px;
	cursor:pointer;
}
div.aswitcher input {
	opacity: 0;
	width:0;
	height:0;
	filter: alpha(opacity:0);
	display: inline-block;
	background: none;
	margin-left: -20px;
}

/* Scrollbox */
div.aform div.scrollbox {
	background:none;
	border:0;
	height: 100px;
    overflow-y: scroll;
    width: 350px;
}
div.aform div.scrollbox .acheckbox {
	position:relative;
	float:left;
}
div.aform .scrollbox label {
	font:normal 11px Tahoma, Geneva, sans-serif;
	color:#09487d;
	line-height:20px;
	display:block;
}
div.aform .scrollbox label .afield {
	margin-right:8px;
}
div.aform .scrollbox label:hover {
	background:#F5F5F5;
}

/* Select */
div.aselect {
	position: relative;
	overflow: hidden;
	height: 23px;
}
div.aselect span, div.aselect select {
	font:normal 11px Tahoma, Geneva, sans-serif;
	color:#09487d;
}
div.aselect span {
	background-position: 100% -63px;
	height: 23px;
	line-height: 23px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 18px 0 0px;
	margin:0;
}
div.aselect select {
	top: 0px;
	left: 1px;
	outline: 0;
	position: absolute;
	opacity: 0;
	filter: alpha(opacity:0);
	height: 23px;
	border: 1px solid;
	background: none;
	padding:0 0px;
	margin:0;
}


/* PRESENTATION */
.mask1 { display:inline-block; }
.mask1 .cl {
	background-position:0 0;
}
.mask1 .cr {
	background-position:100% -138px;
	padding:0 6px;
}
.mask1 .cc {
	background-position:0 -69px;
	background-repeat:repeat-x;
	height:23px;
}


.mask2 { display:inline-block; }
.mask2 .tl {
	background-position:0 0;
}
.mask2 .tr {
	background-position:100% -18px;
	padding:0 6px;
}
.mask2 .tc {
	border-top:1px solid #caccd2;
	background:#fff;
	height:5px;
}
.mask2 .cl {}
.mask2 .cr {}
.mask2 .cc {
	border-left:1px solid #caccd2;
	border-right:1px solid #caccd2;
	padding:0 5px;
	background:#fff;
}
.mask2 .bl {
	background-position:0 -36px;
}
.mask2 .br {
	background-position:100% -54px;
	padding:0 6px;
}
.mask2 .bc {
	border-bottom:1px solid #caccd2;
	background:#fff;
	height:5px;
}


/* FUNCTIONALITY */

/* Focus */
.mask1.focus .cl {
	background-position:0 -23px;
}
.mask1.focus .cr {
	background-position:100% -161px;
}
.mask1.focus .cc {
	background-position:0 -92px;
}


.mask2.focus .tl {
	background-position:0 -6px;
}
.mask2.focus .tr {
	background-position:100% -24px;
}
.mask2.focus .tc {
	background:#fceedc;
}
.mask2.focus .cc {
	background:#fceedc;
}
.mask2.focus .bl {
	background-position:0 -42px;
}
.mask2.focus .br {
	background-position:100% -60px;
}
.mask2.focus .bc {
	background:#fceedc;
}

/* Checkbox */
div.acheckbox.checked span {
	background-position: 0 -15px;
}

/* Switcher */
div.aswitcher.checked span {
	background-position: 0 -90px;
}


/* Changed */
.mask1.changed .cl {
	background-position:0 -46px;
}
.mask1.changed .cr {
	background-position:100% -184px;
}
.mask1.changed .cc {
	background-position:0 -115px;
}

.mask2.changed .tl {
	background-position:0 -12px;
}
.mask2.changed .tr {
	background-position:100% -30px;
}
.mask2.changed .tc {
	background:#ffad5e;
}
.mask2.changed .cc {
	background:#ffad5e;
}
.mask2.changed .bl {
	background-position:0 -48px;
}
.mask2.changed .br {
	background-position:100% -66px;
}
.mask2.changed .bc {
	background:#ffad5e;
}

/* Readonly */
/*.mask1.readonly .cl {
	background-position:0 -23px;
}
.mask1.readonly .cr {
	background-position:100% -161px;
}
.mask1.readonly .cc {
	background-position:0 -92px;
}


.mask2.readonly .tl {
	background-position:0 -6px;
}
.mask2.readonly .tr {
	background-position:100% -24px;
}
.mask2.readonly .tc {
	background:#fceedc;
}
.mask2.readonly .cc {
	background:#fceedc;
}
.mask2.readonly .bl {
	background-position:0 -42px;
}
.mask2.readonly .br {
	background-position:100% -60px;
}
.mask2.readonly .bc {
	background:#fceedc;
}*/