@import url('bootstrap.min.css');
@import url('font-awesome.min.css');

body {
	margin: 0;
	padding: 0;
	color:#2a465e;
}

input, select, textarea {
}

h1 {
	font-size: 20px;
	font-weight: 200;
	color: #999;
	padding-top: 4px;
	padding-bottom: 6px;
	padding-left: 38px;	
	margin-top: 0;
}

a, a:visited {
	color: #11558f;
	cursor: pointer;
}
b {
	color: #000000;
}
p {
	margin-top: 0;
	margin-bottom: 20px;
}
form {
	margin: 0;
	padding: 0;
}
form .help-block{
	text-align: center;
}

/* Common */
.clr_both {
	clear:both;
}
.flt_left {
	float:left;
}
.flt_right {
	float:right;
}
.align_center {
	text-align:center;
}
.align_left {
	text-align:left;
}
.align_right {
	text-align:right;
}

.nav-tabs > li {
    margin-top: -1px;
}

/* Section */
.section {
	background: #fdfdfd;
	border: 1px solid #dcdcdc;
	padding: 10px;
	margin-bottom: 15px;
}

.required {
	color: #FF0000;
	margin-right: 5px;
}
.error {
	color: #FF0000;
	display: block;
	clear: both;
}
.warning {
	padding: 5px 0px;
	margin-bottom: 15px;
	background: #FFDFE0;
	border: 1px solid #FF9999;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

.abc_orange {
	color: #F19013;
}

.abc_blue {
	color: #064770;
}

.tip_heading{
	color: #064770;
	font-style: italic;
	font-weight: bold;
}

/* License Box */
#license {}
.license_text {
	color: #333;
	overflow-y: scroll;
	overflow-x:hidden;
	height: 470px;
	padding: 5px;
	text-indent: 35%;
}

/* Agree */
.agree_field {
	float: left;
	font-weight:bold;
	padding-left: 10px;
}
.action_bar{
	height: 20px;
	padding-top:10px;	
}

#container {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
header {
	margin: 10px 0 15px 20px;
}

.main_content {
	width: 100%;
	display: inline-block;
}

/* Footer */
footer {
	text-align: center;
	color: #CCC;
	padding:10px 0 20px;
}
footer a {
	color: #999;
	margin-left: 10px;
	margin-right: 10px;
}

.snapshots {
	text-align: center;
	float: left;
}
.snapshots div {
    margin:5px 4px;
}

.bad{
	color: red;
	background: url('../image/bad.png') no-repeat;	
	padding:1px 0 1px 20px;
}
.good {
	color: green;
}
.note{
	color: maroon;
}
.social_icon a {
	margin: 10px auto 0 auto;
	width: 90px;
	height: 90px;
	display: block;
	border: 3px solid #F19013;
	webkit-border-radius: 45px;
	border-radius: 45px;
	color: #064770;
}
.social_icon i {
	line-height: 90px;
}
.social_icon a:hover {
	border: 3px solid #F19013;
	background: #F19013;
}

.settings_table {
	width: 100%;
}
.settings_table tbody tr:hover{
	background-color: #f4f4f4;
}
.settings_table th{
	width: 35%;
	text-align: left;
	font-weight: bold;
	color: #000;
}
