<?xml version="1.0"?>
<extension>
	<id>stripe</id>
	<version>1.3.4</version>
	<type>payment</type>
	<category>payment</category>
	<cartversions>
		<item>1.4</item>
	</cartversions>
	<priority>100</priority>
	<settings>
		<item id="stripe_status">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="stripe_autoselect">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="stripe_payment_method_list">
			<type>multiselectbox</type>
			<variants>
				<item>card</item>
				<item>acss_debit</item>
				<item>affirm</item>
				<item>afterpay_clearpay</item>
				<item>alipay</item>
				<item>au_becs_debit</item>
				<item>bacs_debit</item>
				<item>bancontact</item>
				<item>blik</item>
				<item>boleto</item>
				<item>eps</item>
				<item>fpx</item>
				<item>giropay</item>
				<item>grabpay</item>
				<item>ideal</item>
				<item>interac_present</item>
				<item>klarna</item>
				<item>konbini</item>
				<item>link</item>
				<item>mobilepay</item>
				<item>oxxo</item>
				<item>p24</item>
				<item>paynow</item>
				<item>pix</item>
				<item>promptpay</item>
				<item>revolut_pay</item>
				<item>sepa_debit</item>
				<item>sofort</item>
				<item>swish</item>
				<item>us_bank_account</item>
				<item>wechat_pay</item>
				<item>zip</item>
			</variants>
			<default_value>2</default_value>
		</item>
		<item id="stripe_settlement">
			<type>hidden</type>
			<default_value>automatic</default_value>
		</item>
		<item id="stripe_status_success_settled">
			<type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>2</default_value>
		</item>
		<item id="stripe_status_success_unsettled">
			<type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>2</default_value>
		</item>
		<item id="stripe_status_decline">
			<type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>8</default_value>
		</item>
		<item id="stripe_status_void">
			<type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>11</default_value>
		</item>
		<item id="stripe_status_refund">
			<type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>11</default_value>
		</item>
		<item id="stripe_location_id">
			<type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
					<model_rt>localisation/location</model_rt>
					<method>getLocations</method>
				</data_source>
				<fields>
					<field>location_id</field>
					<field>name</field>
				</fields>
			</variants>
		</item>
	</settings>
	<note>true</note>
	<additional_settings>extension/stripe_settings</additional_settings>
	<help_file><![CDATA[help.txt]]></help_file>
	<help_link><![CDATA[https://stripe.com/docs]]></help_link>
	<install>
		<sql>install.sql</sql>
		<trigger>install.php</trigger>
	</install>
	<uninstall>
		<sql>uninstall.sql</sql>
		<trigger>uninstall.php</trigger>
	</uninstall>
</extension>
