<?xml version="1.0" encoding="UTF-8"?>
<extension>
	<id>page_builder</id>
    <version>1.4.0</version>
	<type>extension</type>
	<category>tools</category>
	<cartversions>
        <item>1.4</item>
	</cartversions>
	<priority>10000</priority>
	<settings>
		<item id="page_builder_status">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="page_builder_logging">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
	</settings>
	<install>
		<trigger>install.php</trigger>
	</install>
	<uninstall>
		<trigger>uninstall.php</trigger>
	</uninstall>
</extension>
