<?xml version="1.0"?>
<extension>
    <id>default_fedex</id>
    <version>1.0.1</version>
	<type>shipping</type>
	<category>shipping</category>
    <cartversions>
        <item>1.2</item>
    </cartversions>
	<phpmodules>
		<item>soap</item>
	</phpmodules>
    <layout></layout>
    <priority>10</priority>
	<note>true</note>
    <settings>
	    <item id="default_fedex_key">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
	    <item id="default_fedex_password">
            <type required="true">password</type>
            <default_value></default_value>
        </item>
	    <item id="default_fedex_account">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
	    <item id="default_fedex_meter">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
	    <item id="default_fedex_test">
            <type>selectbox</type>
            <variants>
                <item>0</item>
                <item>1</item>
            </variants>
        </item>
	    <item id="default_fedex_address">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
	    <item id="default_fedex_city">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
	    <item id="default_fedex_state">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
	    <item id="default_fedex_zip">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
	    <item id="default_fedex_country">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
        <item id="default_fedex_quote_type">
            <type>selectbox</type>
            <variants>
                <item>residential</item>
                <item>commercial</item>
            </variants>
        </item>
        <item id="default_fedex_add_chrg">
            <type>input</type>
            <default_value>0.00</default_value>
        </item>
        <item id="default_fedex_default_fedex_us_01">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_fedex_default_fedex_us_02">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_fedex_default_fedex_us_03">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_fedex_default_fedex_us_04">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_fedex_default_fedex_us_05">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_fedex_default_fedex_us_06">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
    </settings>
	<custom_settings_template>pages/extension/default_fedex_settings.tpl</custom_settings_template>
    <install>
	    <sql></sql>
	    <trigger></trigger>
	</install>
	<uninstall>
	    <sql></sql>
	    <trigger></trigger>
	</uninstall>
</extension>