<?xml version="1.0"?>
<extension>
    <id>default_pp_express</id>
    <version>1.0.3</version>
	<type>payment</type>
	<category>payment</category>
    <cartversions>
        <item>1.2</item>
    </cartversions>
    <layout></layout>
    <priority>10</priority>
    <settings>
		<item id="default_pp_express_status">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="default_pp_express_username">
			<type required="true">input</type>
			<default_value></default_value>
		</item>
		<item id="default_pp_express_password">
			<type required="true">input</type>
			<default_value></default_value>
		</item>
		<item id="default_pp_express_signature">
			<type required="true">input</type>
			<default_value></default_value>
		</item>
		<item id="default_pp_express_test">
			<type>selectbox</type>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
			<default_value>1</default_value>
		</item>
		<item id="default_pp_express_credit_cards">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="default_pp_express_billmelater">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="default_pp_express_email">
			<type>input</type>
		</item>
		<item id="default_pp_express_transaction">
			<type>selectbox</type>
			<variants>
				<item>0</item>
				<item>1</item>
			</variants>
			<default_value>1</default_value>
		</item>
	    <item id="default_pp_express_order_status_id">
            <type>selectbox</type>
			<variants>
				<item>1</item>
				<item>2</item>
				<item>5</item>
			</variants>
			<default_value>2</default_value>
        </item>
	    <item id="default_pp_express_location_id">
            <type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
					<model_rt>localisation/location</model_rt>
					<method>getLocations</method>
				</data_source>
				<fields>
					<field>location_id</field>
					<field>name</field>
				</fields>
			</variants>
        </item>
		<item id="default_pp_express_custom_logo">
			<type>resource</type>
			<resource_type>image</resource_type>
			<default_value></default_value>
		</item>
		<item id="default_pp_express_custom_bg_color">
			<type>input</type>
			<default_value></default_value>
		</item>
		<item id="default_pp_express_redirect_payment">
			<type>hidden</type>
			<default_value>true</default_value>
		</item>
    </settings>
	<custom_settings_template>pages/extension/default_pp_express_settings.tpl</custom_settings_template>
	<help_file><![CDATA[help.txt]]></help_file>	
	<preview>
		<item>default_pp_express.png</item>
	</preview>
	<note>true</note>
	<install>
		<trigger>install.php</trigger>
	</install>
	<uninstall>
		<trigger>uninstall.php</trigger>
	</uninstall>
</extension>