<?xml version="1.0"?>
<extension>
    <id>default_skrill</id>
    <version>1.0.1</version>
	<type>payment</type>
	<category>payment</category>
    <cartversions>
        <item>1.2</item>
    </cartversions>
    <layout></layout>
    <priority>10</priority>
    <settings>
	    <item id="default_skrill_email">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
	    <item id="default_skrill_secret">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
        <item id="default_skrill_order_status_id">
            <type>selectbox</type>
			<variants>
				<data_source>
                   <model_rt>localisation/order_status</model_rt>
                   <method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>2</default_value>
        </item>
        <item id="default_skrill_order_status_pending_id">
            <type>selectbox</type>
			<variants>
				<data_source>
                   <model_rt>localisation/order_status</model_rt>
                   <method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>1</default_value>
        </item>
        <item id="default_skrill_order_status_canceled_id">
            <type>selectbox</type>
			<variants>
				<data_source>
                   <model_rt>localisation/order_status</model_rt>
                   <method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>7</default_value>
        </item>
        <item id="default_skrill_order_status_failed_id">
            <type>selectbox</type>
			<variants>
				<data_source>
                   <model_rt>localisation/order_status</model_rt>
                   <method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>10</default_value>
        </item>
        <item id="default_skrill_order_status_chargeback_id">
            <type>selectbox</type>
			<variants>
				<data_source>
                   <model_rt>localisation/order_status</model_rt>
                   <method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>13</default_value>
        </item>
	    <item id="default_skrill_location_id">
            <type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
                   <model_rt>localisation/location</model_rt>
                   <method>getLocations</method>
				</data_source>
				<fields>
					<field>location_id</field>
					<field>name</field>
				</fields>
			</variants>
        </item>
		<item id="default_skrill_redirect_payment">
			<type>hidden</type>
			<default_value>true</default_value>
		</item>
    </settings>
    <help_link><![CDATA[https://account.skrill.com/signup?rid=53571612]]></help_link>
</extension>