<?xml version="1.0" encoding="UTF-8"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Menü]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Siker: Ön módosította menüt!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Egyéni azonosító]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Ikon]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Szöveg]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Link <br/><span class="help">Külső hivatkozások a http: // vagy https: // az elején</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Szülő]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Sorrend]]></value>
	</definition>
	<definition>
		<key>entry_link_category</key>
		<value><![CDATA[Link a kategória]]></value>
	</definition>
	<definition>
		<key>entry_link_page</key>
		<value><![CDATA[Link az oldalra]]></value>
	</definition>
	<definition>
		<key>text_link</key>
		<value><![CDATA[Link]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Root Menu -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[A mező nem lehet üres!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[Termék azonosító nem egyedi!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Csak alfanumerikus karakterek engedélyezett menü ID mezőt!]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Link Type]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Kategória oldal]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[tartalmi oldal]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Egyéni link vagy URL]]></value>
	</definition>
</definitions>
