<?xml version="1.0" encoding="UTF-8"?>
<extension>
  <id>default_deutsch</id>
  <version>1.0.0</version>
  <type>language</type>
  <category>Languages</category>
  <cartversions>
    <item>1.2</item>
  </cartversions>
  <priority>10</priority>
  <dependencies></dependencies>
  <settings>
    <item id="default_deutsch_status">
      <type>checkbox</type>
      <default_value>0</default_value>
    </item>
  </settings>
  <note>true</note>
  <install>
    <trigger>install.php</trigger>
  </install>
  <uninstall>
    <trigger>uninstall.php</trigger>
  </uninstall>
</extension>
