<?xml version="1.0"?>
<extension>
    <id>default_per_item_shipping</id>
    <version>1.0.1</version>
	<type>shipping</type>
	<category>shipping</category>
    <cartversions>
        <item>1.2</item>
    </cartversions>
    <layout></layout>
    <priority>10</priority>
    <settings>
	    <item id="default_per_item_shipping_cost">
            <type>input</type>
            <default_value></default_value>
        </item>
        <item id="default_per_item_shipping_tax">
            <type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
                   <model_rt>localisation/tax_class</model_rt>
                   <method>getTaxClasses</method>
				</data_source>
				<fields>
					<field>tax_class_id</field>
					<field>title</field>
				</fields>
			</variants>
        </item>
	    <item id="default_per_item_shipping_location_id">
            <type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
                   <model_rt>localisation/location</model_rt>
                   <method>getLocations</method>
				</data_source>
				<fields>
					<field>location_id</field>
					<field>name</field>
				</fields>
			</variants>
        </item>
    </settings>
    <install>
	    <sql></sql>
	    <trigger></trigger>
	</install>
	<uninstall>
	    <sql></sql>
	    <trigger></trigger>
	</uninstall>
</extension>