#cart_details .btn {
	padding-left: 20px;
}

#cart_details .dropdown-menu {
	left: -130px;
	min-width: 300px;
}

#cart_details li.divider {
	padding: 0;
}

#cart_details .dropdown-menu > li > span {
	clear: both;
	color: #333;
	display: block;
	font-weight: 400;
	line-height: 1.42857;
	padding: 3px 20px;
	white-space: nowrap;
}

#cart_details .dropdown-menu > li > a {
	white-space: normal;
}

#cart_details .dropdown-menu .divider {
	margin: 20px 0 0 0;
	overflow: auto;
}

.pay-form .input-lg {
	font-size: 16px;
}

.pay-form .left-inner-addon {
	position: relative;
}

.pay-form .left-inner-addon input,  .pay-form .left-inner-addon textarea {
	padding-left: 42px;
}

.pay-form .left-inner-addon select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	padding-left: 38px;
	padding-right: 25px;
	line-height: normal;
}

.pay-form .left-inner-addon .select_arrow {
	top: 0;
	right: 17px;
	position: absolute;
	pointer-events: none;
	font-size: 22px;
	padding: 11px 0;
	color: #00A1CB;
}

.pay-form .left-inner-addon>i {
	z-index: 100;
	position: absolute;
	font-size: 22px;
	padding: 12px 10px;
	color: #00A1CB;
}

.pay-form .left-inner-addon i.fa-spin.fa-refresh {
	font: normal normal normal 14px/1 FontAwesome;
	position: relative;
	padding: unset;
}

.pay-form .thumbnail {
	cursor: pointer;
}
.pay-form .thumbnail p i.fa-credit-card {
	font-size: 30px;
	padding: 5px 5px;
}
.pay-form .thumbnail p i {
	color: #00A1CB;
}

.pay-form .thumbnail.selected {
	background: lightblue;
}


.pay-form .left-inner-addon .well {
	padding-left: 45px;
	padding-top: 10px;
	margin-bottom: 0;
}

.pay-form .left-inner-addon .address_edit {
	position: absolute;
	right: 10px;
	font-size: 22px;
	padding: 12px 10px;
}

.pay-form .left-inner-addon .btn {
	font-weight: 500;
	font-size: 18px;
}

.pay-form .left-inner-addon .btn i {
	padding: 0;
	position: static;
}

.pay-form .has-error .left-inner-addon i,
.pay-form .has-error .right-inner-addon i,
.pay-form .has-error .form-control {
	color: #a94442;
}

.pay-form .has-success .left-inner-addon i,
.pay-form .has-success .right-inner-addon i,
.pay-form .has-success .form-control {
	color: #3c763d;
}

.pay-form .right-inner-addon {
	position: relative;
	top: -32px;
	right: 40px;
	text-align: right;
}

.pay-form .right-inner-addon i {
	position: absolute;
	font-size: 22px;
}

.pay-form .paywith {
	padding: 12px 12px 0 0;
	margin: 0;
	font-weight: bold;
}

.pay-form .table > td {
	padding: 5px;
}

#PayFrm .form-group input[type="checkbox"],
#Address2 .form-group input[type="checkbox"]
{
	display: none;
}

.pay-form .form-group input[type="checkbox"] + .btn-group > label span {
	width: 20px;
}

#PayFrm .form-group input[type="checkbox"] + .btn-group > label span:first-child,
#Address2Frm .form-group input[type="checkbox"] + .btn-group > label span:first-child
{
	display: none;
}

.pay-form .form-group input[type="checkbox"] + .btn-group > label span:last-child {
	display: inline-block;
}

.pay-form .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
	display: inline-block;
}

#PayFrm .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child,
#Address2Frm .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child
{
	display: none;
}

.order-success .fa-check {
	font-size: 180px;
}

.pay-form .btn {
	font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

@media only screen and (max-width: 479px) {
	.pay-form .payment_tabs span.visible-xxs {
		display: inline-block !important;
	}
}

@media only screen and (min-width: 479px) {
	.pay-form .payment_tabs span.hidden-xxs {
		display: inline-block !important;
	}
}


.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	z-index: 2;
	color: #fff;
	background-color: #00A1CB;
	border-color: #00A1CB;
}

.btn-primary {
	color: #fff;
	background-color: #00A1CB;
	border-color: #00A1CB;
}

.list-group-item:first-child {
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}
.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
}
.list-group-item {
	border-color: #d7d8da;
}
.input-lg {
	border-radius: 1px;
}
.shipping_address_details, .payment_address_details {
	background-color: #eee;
	padding: 15px;
	border: 1px solid #ddd;
}
.payment_items {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-evenly;
}

.payment_item {
	display: flex;
	width: 25%;
}
.payment-option {
	margin: 5px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: flex-end;
	position: relative;
	border: 1px solid #eee;
	padding: 10px;
}

.btn-primary:hover {
	background-color: #337ab7;
	border-color: #2e6da4;
}
.checkout-fast_checkout .column_right {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: 15px;
}

@media all and (max-width: 600px) {
	.payment_item {
		width: 100%;
	}
	.checkout-fast_checkout .column_right {
		position: relative;
		top: auto;
	}
}

@media all and (min-width: 601px) and (max-width: 1150px) {
	.payment_item {
		width: 50%;
	}
	.checkout-fast_checkout .column_right {
		position: relative;
		top: auto;
	}
}

.img-thumbnail {
	border: none;
}
.thumbnail .caption {
	min-height: 66px;
	overflow: hidden;
}

.tab-content {
	border: none;
	padding: unset;
}

.address_edit_link {
	position: relative;
	font-size: 18px;
	display: block;
	height: 18px;
}
.address_edit_link a {
	float: right;
}
.badge {
	background-color: unset;
	color: #000;
	font-size: 14px;
}
ul.product_option_list, ul.product_option_list li {
	list-style: circle;
	list-style-position: inside;
}
#fast_checkout_cart {
	min-height: 500px;
}
.fast_checkout_cart_btn {
	color: #fff;
	font-size: 22px;
	margin-right: 40px;
}
.fast_checkout_cart_btn:hover, .fast_checkout_cart_btn:active {
	color: #eee;
}
#fast_checkout_summary_block .list-group{
	margin-top: 0;
	margin-bottom: 0;
}
.shipping_address_label, .payment_address_label {
	/*background-color: #f5f5f5;*/
	/*border: 1px solid #d7d8da;*/
	padding-bottom: 5px;
	font-weight: bold;
}
i.fa-home {
	font-size: 27px !important;
}
.checkout-fast_checkout #maincontainer .container-fluid .col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}
.checkout-fast_checkout #maincontainer .ct_padding_right {
	padding-right: 15px;
}

.table-borderless>tbody>tr>td, .table-borderless>tbody>tr>th, .table-borderless>tfoot>tr>td, .table-borderless>tfoot>tr>th,
.table-borderless>thead>tr>td, .table-borderless>thead>tr>th {
	border: none;
}

.table-borderless {
	margin-bottom: 0px;
}


.spinner-overlay {
	opacity:    0.5;
	background: #000;
	width:      100%;
	height:     100%;
	top:        0;
	left:       0;
	position:   fixed;
	z-index: 99999;
	display: none;

}

.spinner {
	position: absolute;
	left: calc(50% - 40px);
	top: calc(50% - 40px);
	height:40px;
	width:40px;
	margin:0px auto;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
	border-left:6px solid rgba(0,174,239,.15);
	border-right:6px solid rgba(0,174,239,.15);
	border-bottom:6px solid rgba(0,174,239,.15);
	border-top:6px solid #00A1CB;
	border-radius:100%;
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}

@media all and (max-width: 850px) {
	.col-xxs-12 {
		padding-right: 0px;
	}
}

div.registerbox label > input {
	display: none;
}
div.registerbox label > input + .checkbox_place > i {
	visibility: hidden;
	color: #00A1CB;
}

div.registerbox  label > input:checked + .checkbox_place > i {
	visibility: visible;
}

div.registerbox .checkbox_place {
	border: 1px solid #ddd;
	cursor: pointer;
}
table.table-shipments {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.payment_item.balance_applied .thumbnail {
	background-color: #d9edf5;
	border-color: #d9edf5;
}
.payment_item.balance_applied_full .thumbnail {
	background: lightblue;
}

.payment-select-container{
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
	overflow: hidden;
}
.div-cover{
	background-color: grey;
	opacity: 20%;
	width: 100%;
	height: 520px;
	left: 0;
	z-index: 10000;
	position: absolute;
	cursor: not-allowed;
	display: none;
}

#comment{
	height: 46px;

}