<?xml version="1.0" encoding="UTF-8"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[תַפרִיט]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[הצלחה: שינית תפריט!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[מזהה ייחודי]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[אייקון]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[טֶקסט]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[קישור <br/><span class="help">עבור קישורים חיצוניים להוסיף http: // או https: // בהתחלה</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[הוֹרֶה]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[סדר המיון]]></value>
	</definition>
	<definition>
		<key>entry_link_category</key>
		<value><![CDATA[קישור לדף קטגוריה]]></value>
	</definition>
	<definition>
		<key>entry_link_page</key>
		<value><![CDATA[קישור הדף]]></value>
	</definition>
	<definition>
		<key>text_link</key>
		<value><![CDATA[קישור]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- תפריט רוט -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[השדה לא יכול להיות ריק!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[מספר פריט לא ייחודי!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[תווים אלפאנומריים בלבד מותר שדה מזהה תפריט!]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[סוג הקישור]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[דף קטגוריה]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[דף תוכן]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[קישור מותאם אישית או URL]]></value>
	</definition>
</definitions>
