<?xml version="1.0"?>
<extension>
	<id>default_flat_rate_shipping</id>
	<version>1.0.2</version>
	<type>shipping</type>
	<category>shipping</category>
	<cartversions>
		<item>1.2</item>
	</cartversions>
	<layout></layout>
	<priority>10</priority>
	<settings>
		<item id="default_flat_rate_shipping_rates">
			<type>html_template</type>
			<template>pages/extension/default_flat_rate_shipping_rates.tpl</template>
			<default_value></default_value>
			<variants>
				<data_source>
				   <model_rt>localisation/location</model_rt>
				   <method>getLocations</method>
				   <model_rt>localisation/tax_class</model_rt>
				   <method>getTaxClasses</method>
				</data_source>
			</variants>
		</item>
	</settings>
	<install>
		<sql></sql>
		<trigger></trigger>
	</install>
	<uninstall>
		<sql></sql>
		<trigger></trigger>
	</uninstall>
</extension>