<?xml version="1.0" encoding="UTF-8"?>
<extension>
	<id>default_twilio</id>
	<version>1.0.0</version>
	<type>extension</type>
	<category>Communication</category>
	<cartversions>
		<item>1.2</item>
	</cartversions>
	<priority>10</priority>
	<dependencies></dependencies>
	<settings>
		<item id="default_twilio_status">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="default_twilio_username">
			<type required="true">input</type>
			<default_value></default_value>
		</item>
		<item id="default_twilio_token">
			<type required="true">input</type>
			<default_value></default_value>
		</item>
		<item id="default_twilio_sender_phone">
			<type required="true">input</type>
			<default_value></default_value>
		</item>
		<item id="default_twilio_test">
			<type>selectbox</type>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
			<default_value>1</default_value>
		</item>
		<item id="default_twilio_test_connection">
			<type>html_template</type>
			<template>responses/extension/default_twilio_test.tpl</template>
			<default_value></default_value>
		</item>
		<item id="default_twilio_logging">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
	</settings>
	<note>true</note>
	<help_file><![CDATA[help.txt]]></help_file>
	<help_link><![CDATA[http://www.twilio.com/help]]></help_link>
</extension>
