<?xml version="1.0"?>
<extension>
    <id>default_pp_pro</id>
    <version>1.0.2</version>
	<type>payment</type>
	<category>payment</category>
    <cartversions>
        <item>1.2</item>
    </cartversions>
    <layout></layout>
    <priority>10</priority>
    <settings>
        <item id="default_pp_pro_username">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
        <item id="default_pp_pro_password">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
        <item id="default_pp_pro_signature">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
        <item id="default_pp_pro_test">
            <type>selectbox</type>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
			<default_value>1</default_value>
        </item>
        <item id="default_pp_pro_transaction">
            <type>selectbox</type>
			<variants>
				<item>0</item>
				<item>1</item>
			</variants>
	        <default_value>1</default_value>
        </item>
        <item id="default_pp_pro_order_status_id">
			<type>selectbox</type>
			<variants>
				<item>1</item>
				<item>2</item>
				<item>5</item>
			</variants>
			<default_value>2</default_value>
        </item>
        <item id="default_pp_pro_location_id">
            <type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
                   <model_rt>localisation/location</model_rt>
                   <method>getLocations</method>
				</data_source>
				<fields>
					<field>location_id</field>
					<field>name</field>
				</fields>
			</variants>
        </item>
	    <item id="default_pp_pro_creditcard_types">
            <type>checkboxgroup</type>
			<variants>
				<data_source>
                   	<model_rt>extension/default_pp_pro</model_rt>
                   	<method>getCreditCardTypes</method>
				</data_source>
				<fields>
					<field>code</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>a:5:{i:0;s:4:"Visa";i:1;s:10:"MasterCard";i:2;s:8:"Discover";i:3;s:1:"0";i:4;s:1:"0";} </default_value>
        </item>                        
    </settings>
	<custom_settings_template>pages/extension/default_pp_pro_settings.tpl</custom_settings_template>
    <install>
	    <sql></sql>
	    <trigger>install.php</trigger>
	</install>
	<uninstall>
	    <sql></sql>
	    <trigger>uninstall.php</trigger>
	</uninstall>
</extension>
