<?xml version="1.0" encoding="UTF-8"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Menu]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Succès: Vous avez le menu modifié!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Identifiant unique]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Icône]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Texte]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Lien <br/><span class="help">Pour</span> les <span class="help">liens externes ajouter http: // ou https: // au début</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Parent]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Ordre de tri]]></value>
	</definition>
	<definition>
		<key>entry_link_category</key>
		<value><![CDATA[Lien vers Catégorie]]></value>
	</definition>
	<definition>
		<key>entry_link_page</key>
		<value><![CDATA[Lien vers la page]]></value>
	</definition>
	<definition>
		<key>text_link</key>
		<value><![CDATA[Lien]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Root Menu -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Champ ne peut pas être vide!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[Item ID pas unique!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Seuls les caractères alphanumériques autorisés pour le champ menu ID!]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[type de lien]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Catégorie page]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Contenu de la page]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Lien personnalisé ou URL]]></value>
	</definition>
</definitions>
