<?xml version="1.0" encoding="UTF-8"?>
<definitions>
  <definition>
    <key>text_index_home_menu</key>
    <value><![CDATA[บ้าน]]></value>
  </definition>
  <definition>
    <key>text_product_special_menu</key>
    <value><![CDATA[พิเศษ]]></value>
  </definition>
  <definition>
    <key>text_account_account_menu</key>
    <value><![CDATA[บัญชี]]></value>
  </definition>
  <definition>
    <key>text_checkout_cart_menu</key>
    <value><![CDATA[เกวียน]]></value>
  </definition>
  <definition>
    <key>text_checkout_shipping_menu</key>
    <value><![CDATA[เช็คเอาท์]]></value>
  </definition>
  <definition>
    <key>text_account_login_menu</key>
    <value><![CDATA[เข้าสู่ระบบ]]></value>
  </definition>
  <definition>
    <key>text_account_invoice_menu</key>
    <value><![CDATA[ตรวจสอบการสั่งซื้อของคุณ]]></value>
  </definition>
  <definition>
    <key>text_account_logout_menu</key>
    <value><![CDATA[ออกจากระบบ]]></value>
  </definition>
</definitions>
