<?xml version="1.0"?>
<extension>
	<id>default_usps</id>
	<version>1.2.0</version>
	<type>shipping</type>
	<category>shipping</category>
	<cartversions>
		<item>1.4</item>
	</cartversions>
	<priority>10</priority>
	<settings>
		<item id="default_usps_debug">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
	</settings>
	<additional_settings>extension/default_usps</additional_settings>
</extension>