<?xml version="1.0" encoding="UTF-8"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Meny]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Framgång: Du har ändrat menyn!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Unikt ID]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Ikon]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Text]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Länk <br/><span class="help">För externa länkar lägga http: // eller https: // i början</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Förälder]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Sorteringsordning]]></value>
	</definition>
	<definition>
		<key>entry_link_category</key>
		<value><![CDATA[Länk till kategori]]></value>
	</definition>
	<definition>
		<key>entry_link_page</key>
		<value><![CDATA[Länk till sidan]]></value>
	</definition>
	<definition>
		<key>text_link</key>
		<value><![CDATA[Länk]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Rotmeny -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Fältet kan inte vara tom!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[Artikelnummer inte unik!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Endast alfanumeriska tecken är tillåtna för meny ID fältet]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[länktyp]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[kategori Sida]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Innehållssida]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Anpassad länk eller URL]]></value>
	</definition>
</definitions>
