<?xml version="1.0" encoding="UTF-8"?>
<extension>
	<id>avatax_integration</id>
	<version>1.0.0</version>
	<type>tax</type>
	<category>tax</category>
	<cartversions>
		<item>1.2</item>
	</cartversions>
	<priority>10</priority>
	<dependencies></dependencies>
	<settings>
		<item id="avatax_integration_status">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="avatax_integration_account_number" required="true">
			<type required="true">input</type>
			<default_value></default_value>
			<pattern_validate>/\d{9}+$/</pattern_validate>
		</item>
		<item id="avatax_integration_license_key">
			<type required="true">input</type>
			<default_value></default_value>
		</item>
		<item id="avatax_integration_service_url">
			<type required="true">selectbox</type>
			<default_value>https://avatax.avalara.net</default_value>
			<variants>
				<item>https://avatax.avalara.net</item>
				<item>https://development.avalara.net</item>
			</variants>
		</item>
		<item id="avatax_integration_tax_name">
			<type required="true">input</type>
			<default_value>Tax</default_value>
		</item>
		<item id="avatax_integration_company_code">
			<type>input</type>
			<default_value></default_value>
		</item>
		<item id="avatax_integration_postal_code">
			<type required="true">input</type>
			<default_value></default_value>
		</item>
		<item id="avatax_integration_address_validation">
			<type>checkbox</type>
			<default_value>false</default_value>
		</item>
		<item id="avatax_integration_address_validation_countries">
			<type>selectbox</type>
			<default_value>0</default_value>
			<variants>
				<item>Both</item>
				<item>US</item>
				<item>CA</item>
			</variants>
		</item>
		<item id="avatax_integration_default_taxcode">
			<type>input</type>
			<default_value>P0000000</default_value>
		</item>
		<item id="avatax_integration_shipping_taxcode">
			<type>html_template</type>
			<template>pages/extension/avatax_integration_shipping_taxcodes.tpl</template>
		</item>
		<item id="avatax_integration_commit_documents">
			<type>checkbox</type>
			<default_value>false</default_value>
		</item>
		<item id="avatax_integration_status_success_settled">
			<type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>5</default_value>
		</item>
		<item id="avatax_integration_status_cancel_settled">
			<type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>7</default_value>
		</item>
		<item id="avatax_integration_return_documents">
			<type>checkbox</type>
			<default_value>false</default_value>
		</item>
		<item id="avatax_integration_status_return_settled">
			<type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>12</default_value>
		</item>
		<item id="avatax_integration_logging">
			<type>checkbox</type>
			<default_value>false</default_value>
		</item>
	</settings>
	<custom_settings_template>pages/extension/avatax_integration_settings.tpl</custom_settings_template>
	<install>
		<sql>install.sql</sql>
		<trigger>install.php</trigger>
	</install>
	<uninstall>
		<sql>uninstall.sql</sql>
		<trigger>uninstall.php</trigger>
	</uninstall>
	<note>true</note>
	<help_file><![CDATA[help.txt]]></help_file>
	<help_link><![CDATA[https://abantecartextensions.com/docs/avatax]]></help_link>
</extension>
