<?xml version="1.0"?>
<extension>
	<id>default_ups</id>
	<version>1.3.0</version>
	<type>shipping</type>
	<category>shipping</category>
	<cartversions>
		<item>1.3</item>
	</cartversions>
	<priority>10</priority>
	<settings>
	</settings>
	<additional_settings>extension/default_ups</additional_settings>
</extension>