<?xml version="1.0"?>
<extension>
    <id>default_ups</id>
    <version>1.0.1</version>
	<type>shipping</type>
	<category>shipping</category>
    <cartversions>
        <item>1.2</item>
    </cartversions>
    <layout></layout>
    <priority>10</priority>
    <settings>
    </settings>
	<additional_settings>extension/default_ups</additional_settings>
    <install>
	    <sql></sql>
	    <trigger></trigger>
	</install>
	<uninstall>
	    <sql></sql>
	    <trigger></trigger>
	</uninstall>
</extension>