<?xml version="1.0"?>
<extension>
    <id>default_authorizenet_aim</id>
    <version>1.0.1</version>
	<type>payment</type>
	<category>payment</category>
    <cartversions>
        <item>1.2</item>
    </cartversions>
    <layout></layout>
    <priority>10</priority>
    <settings>
	    <item id="default_authorizenet_aim_login">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
	    <item id="default_authorizenet_aim_key">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
	    <item id="default_authorizenet_aim_hash">
            <type required="false">input</type>
            <default_value></default_value>
        </item>
		<item id="default_authorizenet_aim_mode">
            <type>selectbox</type>
			<variants>
				<item>live</item>
				<item>test</item>
			</variants>
        </item>
		<item id="default_authorizenet_aim_method">
            <type>selectbox</type>
			<variants>
				<item>authorization</item>
				<item>capture</item>
			</variants>
        </item>
	    <item id="default_authorizenet_aim_order_status_id">
            <type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>2</default_value>
        </item>
	    <item id="default_authorizenet_aim_decline_limit">
            <type>input</type>
            <default_value>5</default_value>
        </item>
	    <item id="default_authorizenet_aim_location_id">
            <type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
					<model_rt>localisation/location</model_rt>
					<method>getLocations</method>
				</data_source>
				<fields>
					<field>location_id</field>
					<field>name</field>
				</fields>
			</variants>
        </item>
    </settings>
    <install>
	    <sql></sql>
	    <trigger></trigger>
	</install>
	<uninstall>
	    <sql></sql>
	    <trigger></trigger>
	</uninstall>
</extension>