<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /github/1.4/public_html/api/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
</IfModule>