<?xml version="1.0" encoding="UTF-8"?>
<definitions>
  <definition>
    <key>text_index_home_menu</key>
    <value><![CDATA[Насловна]]></value>
  </definition>
  <definition>
    <key>text_product_special_menu</key>
    <value><![CDATA[Специјални]]></value>
  </definition>
  <definition>
    <key>text_account_account_menu</key>
    <value><![CDATA[сметка]]></value>
  </definition>
  <definition>
    <key>text_checkout_cart_menu</key>
    <value><![CDATA[кошничката]]></value>
  </definition>
  <definition>
    <key>text_checkout_shipping_menu</key>
    <value><![CDATA[Плаќање]]></value>
  </definition>
  <definition>
    <key>text_account_login_menu</key>
    <value><![CDATA[Логирај Се]]></value>
  </definition>
  <definition>
    <key>text_account_invoice_menu</key>
    <value><![CDATA[Проверете ја Вашата нарачка]]></value>
  </definition>
  <definition>
    <key>text_account_logout_menu</key>
    <value><![CDATA[Одјава]]></value>
  </definition>
</definitions>
