<?xml version="1.0" encoding="UTF-8"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[菜單]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[成功：你已修改的菜單！]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[唯一身份]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[圖標]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[文本]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[鏈接<br/><span class="help">對外部鏈接添加http：//或https：//開頭的開始</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[親]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[排序]]></value>
	</definition>
	<definition>
		<key>entry_link_category</key>
		<value><![CDATA[鏈接到Category]]></value>
	</definition>
	<definition>
		<key>entry_link_page</key>
		<value><![CDATA[鏈接頁面]]></value>
	</definition>
	<definition>
		<key>text_link</key>
		<value><![CDATA[鏈接]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- 根菜單 -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[字段不能為空！]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[項目編號不唯一！]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[允許菜單ID字段只有字母數字字符！]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[]]></value>
	</definition>
</definitions>
