<?xml version="1.0" encoding="UTF-8"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[메뉴]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[성공 : 당신은 메뉴를 수정 한!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[고유 ID]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[상]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[본문]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[링크 <br/><span class="help">초에 // : // 또는 https를 : 외부 링크의 경우는 HTTP를 추가</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[부모의]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[정렬 순서]]></value>
	</definition>
	<definition>
		<key>entry_link_category</key>
		<value><![CDATA[카테고리 링크]]></value>
	</definition>
	<definition>
		<key>entry_link_page</key>
		<value><![CDATA[페이지 링크]]></value>
	</definition>
	<definition>
		<key>text_link</key>
		<value><![CDATA[링크]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- 루트 메뉴 -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[이 필드를 비워 둘 수 없습니다!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[항목 ID 고유하지 않습니다!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[영숫자 메뉴 ID 필드에 허용!]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[링크 유형]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[카테고리 페이지]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[콘텐츠 페이지]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[사용자 정의 링크 또는 URL]]></value>
	</definition>
</definitions>
