<?xml version="1.0" encoding="UTF-8"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Menu]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Sukces: Masz menu zmodyfikowany!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Unikalny identyfikator]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Ikona]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Tekst]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Łącze <br/><span class="help">Dla zewnętrznych linków dodać http: // lub https: // na początku</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Roślina mateczna]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[porządek sortowania]]></value>
	</definition>
	<definition>
		<key>entry_link_category</key>
		<value><![CDATA[Link do kategorii]]></value>
	</definition>
	<definition>
		<key>entry_link_page</key>
		<value><![CDATA[Link do strony]]></value>
	</definition>
	<definition>
		<key>text_link</key>
		<value><![CDATA[Połączyć]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Root Menu -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Pole nie może być puste!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[ID przedmiotu nie jedynym!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Tylko znaki alfanumeryczne pozwoliło na polu menu ID!]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Rodzaj link]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Kategoria strony]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Zawartość strony]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Niestandardowe link lub adres URL]]></value>
	</definition>
</definitions>
