<?xml version="1.0" encoding="UTF-8"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Menü]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Erfolg: Sie haben geändert Menü!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[Eindeutige ID]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[Symbol]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[Text]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Link - <br/><span class="help">Für externe Links hinzufügen http: // oder https: // am Anfang</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[Elternteil]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[Sortierreihenfolge]]></value>
	</definition>
	<definition>
		<key>entry_link_category</key>
		<value><![CDATA[Link zur Kategorie]]></value>
	</definition>
	<definition>
		<key>entry_link_page</key>
		<value><![CDATA[Link zur Seite]]></value>
	</definition>
	<definition>
		<key>text_link</key>
		<value><![CDATA[Verknüpfung]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Root-Menü -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Feld darf nicht leer sein!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[Artikel ID nicht eindeutig!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Nur alphanumerische Zeichen für das Menü ID-Feld erlaubt!]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[Link-Typ]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Kategorie Seite]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[Inhaltsseite]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Benutzerdefinierte Verknüpfung oder URL]]></value>
	</definition>
</definitions>
