<?xml version="1.0" encoding="UTF-8"?>
<definitions>
  <definition>
    <key>heading_title</key>
    <value><![CDATA[Meniu]]></value>
  </definition>
  <definition>
    <key>text_success</key>
    <value><![CDATA[Sėkmė: Jūs pakeitėte meniu!]]></value>
  </definition>
  <definition>
    <key>entry_item_id</key>
    <value><![CDATA[unikalus ID]]></value>
  </definition>
  <definition>
    <key>entry_item_icon</key>
    <value><![CDATA[piktograma]]></value>
  </definition>
  <definition>
    <key>entry_item_text</key>
    <value><![CDATA[tekstas]]></value>
  </definition>
  <definition>
    <key>entry_item_url</key>
    <value><![CDATA[Nuoroda <br/><span class="help">Dėl išorinių nuorodų pridėti http: // arba https: // pradžioje</span>]]></value>
  </definition>
  <definition>
    <key>entry_parent_id</key>
    <value><![CDATA[tėvas]]></value>
  </definition>
  <definition>
    <key>entry_sort_order</key>
    <value><![CDATA[Rikiuoti]]></value>
  </definition>
  <definition>
    <key>entry_link_type</key>
    <value><![CDATA[Nuoroda tipas]]></value>
  </definition>
  <definition>
    <key>text_select_parent_id</key>
    <value><![CDATA[- Šaknų Meniu -]]></value>
  </definition>
  <definition>
    <key>error_empty</key>
    <value><![CDATA[Laukas gali būti tuščias!]]></value>
  </definition>
  <definition>
    <key>error_non_unique</key>
    <value><![CDATA[Šablono ID numeris nėra unikalus!]]></value>
  </definition>
  <definition>
    <key>error_non_ascii</key>
    <value><![CDATA[Tik raides ir leido meniu ID srityje!]]></value>
  </definition>
  <definition>
    <key>text_category_link_type</key>
    <value><![CDATA[Kategorija tinklalapis]]></value>
  </definition>
  <definition>
    <key>text_content_link_type</key>
    <value><![CDATA[Turinys Page]]></value>
  </definition>
  <definition>
    <key>text_custom_link_type</key>
    <value><![CDATA[Pasirinktinis Nuoroda ir URL]]></value>
  </definition>
</definitions>
