<?xml version="1.0"?>
<extension>
    <id>default_royal_mail</id>
    <version>1.0.0</version>
	<type>shipping</type>
	<category>shipping</category>
    <cartversions>
        <item>0.9</item>
        <item>1.0</item>
        <item>1.1</item>
    </cartversions>
    <layout></layout>
    <priority>10</priority>
    <settings>
        <item id="default_royal_mail_status">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_royal_mail_1st_class_standard">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_royal_mail_1st_class_recorded">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_royal_mail_2nd_class_standard">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_royal_mail_2nd_class_recorded">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_royal_mail_standard_parcels">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_royal_mail_airmail">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_royal_mail_international_signed">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_royal_mail_airsure">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_royal_mail_surface">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_royal_mail_display_weight">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_royal_mail_display_insurance">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_royal_mail_display_time">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
        <item id="default_royal_mail_weight_class">
            <type>selectbox</type>
			<variants>
				<data_source>
                   <model_rt>localisation/weight_class</model_rt>
                   <method>getWeightClasses</method>
				</data_source>
				<fields>
					<field>unit</field>
					<field>title</field>
				</fields>
			</variants>
        </item>
        <item id="default_royal_mail_tax">
            <type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
                   <model_rt>localisation/tax_class</model_rt>
                   <method>getTaxClasses</method>
				</data_source>
				<fields>
					<field>tax_class_id</field>
					<field>title</field>
				</fields>
			</variants>
        </item>
	    <item id="default_royal_mail_location_id">
            <type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
                   <model_rt>localisation/location</model_rt>
                   <method>getLocations</method>
				</data_source>
				<fields>
					<field>location_id</field>
					<field>name</field>
				</fields>
			</variants>
        </item>
        <item id="default_royal_mail_autoselect">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
	    <item id="default_royal_mail_accept_payments">
            <type>checkboxgroup</type>
			<variants>
				<data_source>
                   	<model_rt>setting/extension</model_rt>
                   	<method>getEnabledPayments</method>
				</data_source>
				<fields>
					<field>extension_id</field>
					<field>key</field>
				</fields>
			</variants>
        </item>        
	    <item id="default_royal_mail_sort_order">
            <type>input</type>
            <default_value></default_value>
        </item>
    </settings>
    <install>
	    <sql></sql>
	    <trigger></trigger>
	</install>
	<uninstall>
	    <sql></sql>
	    <trigger></trigger>
	</uninstall>
</extension>