<?xml version="1.0" encoding="UTF-8"?>
<definitions>
  <definition>
    <key>text_index_home_menu</key>
    <value><![CDATA[Tuis]]></value>
  </definition>
  <definition>
    <key>text_product_special_menu</key>
    <value><![CDATA[Specials]]></value>
  </definition>
  <definition>
    <key>text_account_account_menu</key>
    <value><![CDATA[rekening]]></value>
  </definition>
  <definition>
    <key>text_checkout_cart_menu</key>
    <value><![CDATA[cart]]></value>
  </definition>
  <definition>
    <key>text_checkout_shipping_menu</key>
    <value><![CDATA[Uitteken]]></value>
  </definition>
  <definition>
    <key>text_account_login_menu</key>
    <value><![CDATA[Teken aan]]></value>
  </definition>
  <definition>
    <key>text_account_invoice_menu</key>
    <value><![CDATA[Gaan jou bestelling]]></value>
  </definition>
  <definition>
    <key>text_account_logout_menu</key>
    <value><![CDATA[Teken uit]]></value>
  </definition>
</definitions>
