.pp-live-btn {
    background-color: #16437E;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.42857143;
    height: 34px;
    padding: 6px 10px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    vertical-align: middle;
}

.pp-live-btn:hover,
.pp-live-btn:focus {
    color: #ffffff;
    background-color: #0A66C2;
}

.pp-live-btn:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.pp-live-btn:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.pp-test-btn {
    background-color: #d5d4d4;
    border: 2px;
    border-color: #9d9d9d;
    border-radius: 2px;
    box-sizing: border-box;
    color: #484848;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.42857143;
    height: 34px;
    padding: 6px 10px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    vertical-align: middle;
}

.pp-test-btn:hover {
    background-color: #363636;
    color: white;
}

.pp-skip-connect {
    color: lightgray;
}


#paypal_commerce_grid_wrapper .ui-jqgrid .ui-jqgrid-htable th div, #paypal_commerce_grid_wrapper .ui-jqgrid tr.jqgrow td {
    white-space: normal;
}

.paypal_commerce-connect:hover {
    text-decoration: none;
}

.paypal_commerce-connect {
    display: inline-block;
    margin-bottom: 1px;

    background-image: -webkit-linear-gradient(#28A0E5, #015E94);
    background-image: -moz-linear-gradient(#28A0E5, #015E94);
    background-image: -ms-linear-gradient(#28A0E5, #015E94);
    background-image: linear-gradient(#28A0E5, #015E94);

    -webkit-font-smoothing: antialiased;
    border: 0;
    padding: 1px;
    text-decoration: none;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

    cursor: pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.paypal_commerce-connect span {
    display: block;
    position: relative;
    padding: 0 12px 0 44px;
    height: 30px;

    background: #1275FF;
    background-image: -webkit-linear-gradient(#7DC5EE, #008CDD 85%, #30A2E4);
    background-image: -moz-linear-gradient(#7DC5EE, #008CDD 85%, #30A2E4);
    background-image: -ms-linear-gradient(#7DC5EE, #008CDD 85%, #30A2E4);
    background-image: linear-gradient(#7DC5EE, #008CDD 85%, #30A2E4);

    font-size: 14px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);

    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


.paypal_commerce-connect:active {
    background: #003087;
}

.paypal_commerce-connect:active span {
    color: #EEE;

    background: #003087;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

.paypal_commerce-connect.light-blue {
    background: #b5c3d8;
    background-image: -webkit-linear-gradient(#b5c3d8, #9cabc2);
    background-image: -moz-linear-gradient(#b5c3d8, #9cabc2);
    background-image: -ms-linear-gradient(#b5c3d8, #9cabc2);
    background-image: linear-gradient(#b5c3d8, #9cabc2);

    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.paypal_commerce-connect.light-blue span {
    color: #546cac;
    text-shadow: 0 1px rgba(255, 255, 255, 0.8);

    background: #f0f5fa;
    background-image: -webkit-linear-gradient(#f0f5fa, #e4ecf5 85%, #e7eef6);
    background-image: -moz-linear-gradient(#f0f5fa, #e4ecf5 85%, #e7eef6);
    background-image: -ms-linear-gradient(#f0f5fa, #e4ecf5 85%, #e7eef6);
    background-image: linear-gradient(#f0f5fa, #e4ecf5 85%, #e7eef6);

    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

.paypal_commerce-connect.light-blue:active {
    background: #9babc2;
}

.paypal_commerce-connect.light-blue:active span {
    color: #556F88;
    text-shadow: 0 1px rgba(255, 255, 255, 0.8);
    background: #d7dee8;


    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
}

.paypal_commerce-connect.dark {
    background: #252525;
    background: rgba(0, 0, 0, 0.5) !important;
}
