<?xml version="1.0"?>
<definitions>
  <definition>
    <key>text_index_home_menu</key>
    <value><![CDATA[Дом]]></value>
  </definition>
  <definition>
    <key>text_index_special_menu</key>
    <value><![CDATA[Pаспродажа]]></value>
  </definition>  
  <definition>
    <key>text_account_login_menu</key>
    <value><![CDATA[Вход]]></value>
  </definition>
  <definition>
    <key>text_account_logout_menu</key>
    <value><![CDATA[Выход]]></value>
  </definition>
  <definition>
    <key>text_account_account_menu</key>
    <value><![CDATA[Аккаунт]]></value>
  </definition>
  <definition>
    <key>text_checkout_cart_menu</key>
    <value><![CDATA[Корзина]]></value>
  </definition>
  <definition>
    <key>text_checkout_shipping_menu</key>
    <value><![CDATA[Оплата]]></value>
  </definition>
</definitions>
