<?xml version="1.0"?>
<extension>
    <id>default_store_pickup</id>
    <version>1.0.0</version>
	<type>shipping</type>
	<category>shipping</category>
    <cartversions>
        <item>0.9</item>
        <item>1.0</item>
        <item>1.1</item>
    </cartversions>
    <layout></layout>
    <priority>10</priority>
    <settings>
        <item id="default_store_pickup_status">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
	    <item id="default_store_pickup_location_id">
            <type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
                   <model_rt>localisation/location</model_rt>
                   <method>getLocations</method>
				</data_source>
				<fields>
					<field>location_id</field>
					<field>name</field>
				</fields>
			</variants>
        </item>
        <item id="default_store_pickup_autoselect">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
	    <item id="default_store_pickup_accept_payments">
            <type>checkboxgroup</type>
			<variants>
				<data_source>
                   	<model_rt>setting/extension</model_rt>
                   	<method>getEnabledPayments</method>
				</data_source>
				<fields>
					<field>extension_id</field>
					<field>key</field>
				</fields>
			</variants>
        </item>   
	    <item id="default_store_pickup_sort_order">
            <type>input</type>
            <default_value></default_value>
        </item>
    </settings>
    <install>
	    <sql></sql>
	    <trigger></trigger>
	</install>
	<uninstall>
	    <sql></sql>
	    <trigger></trigger>
	</uninstall>
</extension>