<?xml version="1.0"?>
<extension>
	<id>default_store_pickup</id>
	<version>1.4.3</version>
	<type>shipping</type>
	<category>shipping</category>
	<cartversions>
		<item>1.4</item>
	</cartversions>
	<priority>10</priority>
	<settings>
		<item id="default_store_pickup_sort_order">
			<type>input</type>
			<default_value>100</default_value>
		</item>
	</settings>
</extension>