<?xml version="1.0" encoding="UTF-8"?>
<definitions>
	<definition>
		<key>heading_title</key>
		<value><![CDATA[Ponuka]]></value>
	</definition>
	<definition>
		<key>text_success</key>
		<value><![CDATA[Úspech: ste ponuku upravený!]]></value>
	</definition>
	<definition>
		<key>entry_item_id</key>
		<value><![CDATA[jedinečný identifikátor]]></value>
	</definition>
	<definition>
		<key>entry_item_icon</key>
		<value><![CDATA[ikona]]></value>
	</definition>
	<definition>
		<key>entry_item_text</key>
		<value><![CDATA[text]]></value>
	</definition>
	<definition>
		<key>entry_item_url</key>
		<value><![CDATA[Link <br/><span class="help">Pre externé odkazy pridať http: // alebo https: // na začiatku</span>]]></value>
	</definition>
	<definition>
		<key>entry_parent_id</key>
		<value><![CDATA[rodič]]></value>
	</definition>
	<definition>
		<key>entry_sort_order</key>
		<value><![CDATA[poradie zoradenia]]></value>
	</definition>
	<definition>
		<key>entry_link_category</key>
		<value><![CDATA[Odkazujúce na Kategória]]></value>
	</definition>
	<definition>
		<key>entry_link_page</key>
		<value><![CDATA[Odkaz na stránku]]></value>
	</definition>
	<definition>
		<key>text_link</key>
		<value><![CDATA[odkaz]]></value>
	</definition>
	<definition>
		<key>text_select_parent_id</key>
		<value><![CDATA[- Root Menu -]]></value>
	</definition>
	<definition>
		<key>error_empty</key>
		<value><![CDATA[Pole nemôže byť prázdny!]]></value>
	</definition>
	<definition>
		<key>error_non_unique</key>
		<value><![CDATA[ID položky nie sú jedinečné!]]></value>
	</definition>
	<definition>
		<key>error_non_ascii</key>
		<value><![CDATA[Len alfanumerické znaky povolené pre vstup do menu ID poľa!]]></value>
	</definition>
	<definition>
		<key>entry_link_type</key>
		<value><![CDATA[link Type]]></value>
	</definition>
	<definition>
		<key>text_category_link_type</key>
		<value><![CDATA[Kategória Page]]></value>
	</definition>
	<definition>
		<key>text_content_link_type</key>
		<value><![CDATA[obsah stránky]]></value>
	</definition>
	<definition>
		<key>text_custom_link_type</key>
		<value><![CDATA[Custom Link alebo URL]]></value>
	</definition>
</definitions>
