<?xml version="1.0"?>
<extension>
	<id>2checkout</id>
	<version>1.0.2</version>
	<type>payment</type>
	<category>payment</category>
	<cartversions>
		<item>1.2</item>
	</cartversions>
	<layout></layout>
	<priority>10</priority>
	<settings>
		<item id="2checkout_account">
			<type required="true">input</type>
			<default_value></default_value>
		</item>
		<item id="2checkout_secret">
			<type required="true">input</type>
			<default_value></default_value>
		</item>
		<item id="2checkout_test">
			<type>selectbox</type>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
		</item>
		<item id="2checkout_order_status_id">
			<type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>2</default_value>
		</item>
		<item id="2checkout_location_id">
			<type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
					   
					<model_rt>localisation/location</model_rt>
					   
					<method>getLocations</method>
				</data_source>
				<fields>
					<field>location_id</field>
					<field>name</field>
				</fields>
			</variants>
		</item>
	</settings>
	<note>true</note>
</extension>