
.btn_toolbar, .btn_toolbar span {
	display:inline-block;
}
.btn_toolbar span {
	width:32px;
	height:32px;
	background-repeat:no-repeat;
	background-position:0 0;
}

.btn_action, .btn_action span {
	display:inline-block;
}
.btn_action span {
	width:auto;
	height:15px;
	background-repeat:no-repeat;
	background-position:0 50%;
}
.btn_action .btn_text {
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#2a465e;
	padding-left:15px;
	text-transform:capitalize;
}
.btn_action img{
	border:none;
    vertical-align: middle;
}
.btn_grid .btn_text{ display: none;}
.btn_grid span{ width:32px; height:32px; display: block;}

.btn_language, .btn_language span {
	display:inline-block;
	vertical-align:top;
}
.btn_language span {
	width:24px;
	height:24px;
}

.btn_close {
	position:absolute;
	right:3px;
	top:3px;
}
.btn_close, .btn_close span {
	display:inline-block;
}
.btn_close span {
	width:17px;
	height:16px;
	background-repeat:no-repeat;
	background-position:0 0;
}

.btn_related, .btn_related span {
	display:inline-block;
}
.btn_related span {
	width:22px;
	height:14px;
	background-repeat:no-repeat;
	background-position:0 0;
}
button::-moz-focus-inner {     border: 0;    padding: 0;}
button.btn_standard {
	border:none !important;
	background:none;
	padding:0;
	margin:0;
	overflow:visible;
	cursor: pointer;
}
.btn_standard { display:inline-block;}
.btn_standard:hover{  text-decoration: none;}
.btn_standard span, .button {
	display:block;
	white-space: nowrap;
	margin:0;
	height: 24px;
    padding-right: 9px; /* sliding doors padding */
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
	cursor: pointer;
}

.btn_standard span span, .button span {
	font:normal 12px Arial, Helvetica, sans-serif;
    height: 14px;
	line-height: 14px;
    padding: 5px 0 5px 9px;
}
.btn_standard:active span, .button:active {
    background-position: bottom right;
    color: #000;
    outline: none;
}
.btn_standard:active span span,  .button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 9px;
}


/* for old buttons - BOF */
.button {
    background: url(../image/button/btn_right_blue.png) no-repeat top right ;
	display:inline-block;
}
.button span {
    background: url(../image/button/btn_left_blue.png) no-repeat 0 0 ;
	color:#fff;
	display:block;
}
/* for old buttons - EOF */

.button1 {
    background: url(../image/button/btn_right_orange.png) no-repeat top right ;
}
.button1 span {
    background: url(../image/button/btn_left_orange.png) no-repeat 0 0 ;
	color:#fff;
}

.button2 {
    background: url(../image/button/btn_right_gray.png) no-repeat top right ;
}
.button2 span {
    background: url(../image/button/btn_left_gray.png) no-repeat 0 0 ;
	color:#11558f;
}

.button3 {
    background: url(../image/button/btn_right_blue.png) no-repeat top right ;
}
.button3 span {
    background: url(../image/button/btn_left_blue.png) no-repeat 0 0 ;
	color:#fff;
}

.button4 {
    background: url(../image/button/btn_right_blue.png) no-repeat top right ;
}
.button4 span {
    background: url(../image/button/btn_left_blue.png) no-repeat 0 0 ;
	color:#fff;
}

.button5 {
    background: url(../image/button/btn_right_orange_17.png) no-repeat top right ;
	height:17px !important;
	padding-right:6px !important;
}
.button5 span {
    background: url(../image/button/btn_left_orange_17.png) no-repeat 0 0 ;
	color:#fff;
	height:7px !important;
	line-height:7px !important;
	padding-left:6px !important;
}

.button6 {
    background: url(../image/button/btn_right_orange.png) no-repeat top right ;
}
.button6 span {
    background: url(../image/button/btn_left_orange.png) no-repeat 0 0 ;
	color:#fff;
}

.button7 {
    background: url(../image/button/btn_right_orange.png) no-repeat top right ;
}
.button7 span {
    background: url(../image/button/btn_left_orange.png) no-repeat 0 0 ;
	color:#fff;
}

.button1_small {
    background: url(../image/button/btn_right_orange_17.png) no-repeat top right ;
	height:17px !important;
	padding-right:6px !important;
}
.button1_small span {
    background: url(../image/button/btn_left_orange_17.png) no-repeat 0 0 ;
	color:#fff;
	height:7px !important;
	line-height:7px !important;
	padding-left:6px !important;
}

.button2_small {
    background: url(../image/button/btn_right_gray_17.png) no-repeat top right ;
	height:17px !important;
	padding-right:6px !important;
}
.button2_small span {
    background: url(../image/button/btn_left_gray_17.png) no-repeat 0 0 ;
	color:#11558f;
	height:7px !important;
	line-height:7px !important;
	padding-left:6px !important;
}

.button3_small {
    background: url(../image/button/btn_right_blue_17.png) no-repeat top right ;
	height:17px !important;
	padding-right:6px !important;
}
.button3_small span {
    background: url(../image/button/btn_left_blue_17.png) no-repeat 0 0 ;
	color:#fff;
	height:7px !important;
	line-height:7px !important;
	padding-left:6px !important;
}

.list tbody a.btn_standard,
.list tbody a.button {
	text-decoration: none;
}

#productFrm_generate_seo_keyword{
	cursor: pointer;
}