/***** Form Fields *****/
.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}
.form-control .input-group, .input-group .btn {
	border-radius: 2px !important;
}
.input-group-sm .pagination{
	margin: 0;
}
.help_element {
	padding-left: 5px;
}
label span.help {
	font-size: 11px;
}
span.required {
	color: red;
}
/* Fiels changed highlite */
.chosen-choices .search-field {
/*	background-color: #fff; */
	width: 100%;
}
.afield .changed, 
.changed .chosen-container .chosen-choices,
.changed .chosen-container .chosen-single
{
	background: #ffad5e !important;
}
.chosen-choices .hide_text {
	display: none;
}
.btn-primary.changed {
	background: #ffad5e;
}
.abuttons_grp {
	display: none;
	margin-left: 5px;
	vertical-align: middle;
}
.quicksave {
	background: #fceedc;
}
.abuttons_grp .icon_save {
	display:inline-block;
	padding: 0 5px 0 0;
	cursor: pointer;
}
.abuttons_grp .icon_reset {
	display:inline-block;
	padding: 0 5px 0 5px;
	color: #636E7B;
	cursor: pointer;
}
/* custom for short elements such as aswitcher */
.input-group-addon.aswitcher:last-child {
	border: 1px solid #CCCCCC;	
}
/* border for quick save buttons */
.changed .input-group-addon:last-child {
	border: 1px solid #ffad5e;	
}
label > i, thead td > i {
	color: #F19013;
	cursor: pointer;
}
/* fix for calendar low z-index */
.ui-datepicker {
	z-index: 1051 !important;
}

#product_grid_search .small-field {
	width: 60px;
}

/* Field help and errors*/
form .help-block {
	text-align: center;	
}
.field_err {
	font-style:italic;
	font-size:12px;
}

.passwordset_element { 
	float:left; 
}
.password_strength {
	display:block; width: 50px;
}
.password_strength span { 
	display:block; width: 50px; 
	height: 4px;
	margin-top: 5px; 
}
.password_strength span.strength1 {
	background-color: gray 
}
.password_strength span.strength2 { 
	background-color: red 
}
.password_strength span.strength3 {	
	background-color: orange 
}
.password_strength span.strength4 {
	background-color: green 
}

pre {
	font-size: 12px;
	color: #C7254E;
	border: 1px solid #ddd;
	padding: 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
}

label.error {
	color: #B94A48;
	margin-top: 2px;
}

.asterisk {
	color: #D9534F;
}

div.error {
	margin-bottom: 20px;
	display: none;
	position: relative;
}

div.error label.error {
	display: block;
	padding-left: 25px;
	position: relative;
}

div.error label.error:before {
	font-family: 'Glyphicons Halflings';
	content: '\e101';
	position: absolute;
	top: -2px;
	left: 0;
	font-size: 16px;
	color: #D9534F;
	display: inline-block;
}


/***

Older fields CSS
Candidate for review

***/
.ml_field input, .ml_field textarea {
	width:350px;
	resize:none;
}

.ml_field select {
	width:365px;
	resize:none;
}
.ml_field .afield {}


.ml_ckeditor input, .ml_ckeditor textarea, .ml_ckeditor span.textarea_element {
	width:620px;
	resize:none;
}
.ml_ckeditor span.textarea_element { display:block; float:left; margin-right: 6px;}
.ml_field textarea {
	height: 170px;
}
.ml_ckeditor .afield {
	width:635px;
}
.ml_ckeditor .afield span {
	background-image: none;
}

/* Checkbox */
.input-group > .acheckbox {
	width:15px;
	height:15px;
	margin: 8px 2px 0 2px;
	display:inline-block;
}
.acheckboxgroup {
	height: auto;
}

/* Scrollbox */
div.aform div.scrollbox {
	background:none;
	height: 150px;
    overflow-y: scroll;
    width: 350px;
}
div.aform div.small-scrollbox {
	width:300px; height:60px;
}
div.aform div.scrollbox .acheckbox {
	position:relative;
	float:left;
}
div.aform .scrollbox label {
	font:normal 12px Tahoma, Geneva, sans-serif;
	color:#09487d;
	line-height:20px;
	display:block;
}
div.aform .scrollbox label .afield {
	margin-right:8px;
}
div.aform .scrollbox label:hover {
	background:#F5F5F5;
}

/* Select */
div.aselect {
	position: relative;
	overflow: hidden;
	height: 23px;
}
div.aselect span, div.aselect select {
	font:normal 12px Tahoma, Geneva, sans-serif;
	color:#09487d;
}
div.aselect span {
	background-position: 100% -63px;
	height: 23px;
	line-height: 23px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 18px 0 0px;
	margin:0;
}
div.aselect select {
	top: -23px;
	left: -5px;
	outline: 0;
	position: relative;
	opacity: 0;
	filter: alpha(opacity:0);
	height: 23px;
	border: 1px solid;
	background: none;
	padding:0;
	margin:0 -10px 0 0;
}

div.aselect select .disabled {
	color: grey;
}

.small-field, .ml_field input.small-field {width:40px}
.medium-field, .ml_field input.medium-field {width:150px}
.large-field, .ml_field input.large-field {width:300px}
.xl-field, .ml_field input.xl-field {width:610px}
textarea.large-field, textarea.xl-field {height:100px}

/* Checkbox */
div.acheckbox.checked span {
	background-position: 0 -15px;
}

.multivalue_hidden_data{
    display: inline-block;
    vertical-align: middle;
}
.multivalue_hidden_data div{
    margin-top:1px;
}
.multivalue_hidden_data .cc{
    overflow: hidden;
    margin: auto;
}
.multivalue_inner{
    margin: 0;
    vertical-align: middle;
}

.multivalue.count_text{
	line-height: 22px;
	vertical-align: middle;
	float: left;
    display: inline-block;
}
.multivalue.count{
	margin-left: 5px;
	height: 20px;
	width: 30px;
}
.multivalue.save_reset{
	display: none;
	margin-left: 10px;
	vertical-align: middle;
	float: left;

}

.multivalue.list {
	width: 350px;
	white-space: nowrap;
}
.multivalue.list td:first-child{
	width: 100%;
}
.multivalue.list td a{
	color: #000000;
	cursor: pointer;
	display: inline-block;
	background-position: right;
    height: 20px;
	width: 16px;
    line-height: 20px;
	margin-left: 8px;
    padding: 0;
    vertical-align: middle;
}

.fileupload {
    width: 395px;
    height: 25px;
    position: relative;
    overflow: hidden;

}
.fileupload div.atext{
    text-align: left !important;
    overflow: hidden;
}
.fileupload div.default_text{
    color: #808080;

}
.fileupload input {
    cursor: pointer;
    position: absolute;
    width: 395px;
    top: 0;
    right: 0; /* not left, because only the right part of the input seems to
                 be clickable in some browser I can't remember */
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0); /* and all the other old opacity stuff you
                                 want to support */
    font-size: 300px; /* wtf, but apparently the most reliable way to make
                         a large part of the input clickable in most browsers */
    height: 25px;
}