#page-layout .section-wrap {
  margin-top: 15px;
}
#page-layout .section-wrap:first-child {
  margin-top: 0;
}
#page-layout .section .section-header {
  text-align: right;
  background: #e4eef7;
  color: #064770;
  padding: 3px 10px;
  min-height: 27px;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  -webkit-box-shadow: inset 0 0 1px #064770;
  -moz-box-shadow: inset 0 0 1px #064770;
  box-shadow: inset 0 0 1px #064770;
}
#page-layout .section .section-header .title {
  float: left;
  text-align: left;
  text-transform: capitalize;
}
#page-layout .section .section-header .button {
  font-size: 12px;
  display: inline-block;
  margin: 2px 0 2px 8px;
  cursor: pointer;
  line-height: 0;
}
#page-layout .section .blocks {
  background: #f4f4f4;
  padding: 5px 0;
  -webkit-border-radius: 0 2px;
  -moz-border-radius: 0 2px;
  border-radius: 0 2px;
  min-height: 78px;
}
#page-layout .section.off .section-header {
  background: #f7f7f7;
  color: #bbb;
  -webkit-box-shadow: inset 0 0 1px #bbbbbb;
  -moz-box-shadow: inset 0 0 1px #bbbbbb;
  box-shadow: inset 0 0 1px #bbbbbb;
}
#page-layout .section.off .blocks {
  background: #fff;
}
#page-layout .section.header .block,
#page-layout .section.header_bottom .block,
#page-layout .section.footer .block,
#page-layout .section.footer_top .block {
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
}
#page-layout .content-area {
  margin: 15px 0 0;
}
#page-layout .content-area [class*="col-"] {
  padding: 0;
}
#page-layout .content-area .left-area {
  padding-right: 10px;
}
#page-layout .content-area .right-area {
  padding-left: 10px;
}
#page-layout .main-content {
  text-align: center;
  line-height: 100px;
  border: 1px solid #ccc;
  background: #e4eef7;
}
#page-layout .block:nth-child(4n+1) {
  clear: left;
}
#page-layout .block .block-content {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  background: #e4eef7;
  text-align: center;
  cursor: move;
  margin: 5px 10px;
}
#page-layout .block:hover .block-content {
  -webkit-box-shadow: inset 0 10px 30px rgba(6, 71, 112, 0.2);
  -moz-box-shadow: inset 0 10px 30px rgba(6, 71, 112, 0.2);
  box-shadow: inset 0 10px 30px rgba(6, 71, 112, 0.2);
}
#page-layout .block .block-title {
  padding: 10px 5px;
  color: #064770;
}
#page-layout .block .block-title span {
  font-size: 11px;
  font-style: italic;
  color: #555;
  vertical-align: top;
}
#page-layout .block .block-options {
  height: 25px;
  padding: 0 5px;
  margin: 0;
  text-align: left;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  background: rgba(6, 71, 112, 0.8);
  margin: 0 -1px;
}
#page-layout .block .block-options .button {
  color: #fff;
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
  margin: 5px 2px 2px;
  line-height: 0;
}
#page-layout .block .block-options .button:hover {
  color: #f19013;
}
#page-layout .block .block-options .button.pull-right {
  margin-top: 6px;
}
#page-layout .section.off .block .block-content,
#page-layout .block.off .block-content {
  background: #f7f7f7;
}
#page-layout .section.off .block:hover .block-content,
#page-layout .block.off:hover .block-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#page-layout .section.off .block .block-title,
#page-layout .block.off .block-title {
  color: #bbb;
}
#page-layout .section.off .block .block-title span,
#page-layout .block.off .block-title span {
  color: #bbb;
}
#page-layout .section.off .block .block-options,
#page-layout .block.off .block-options {
  background: rgba(6, 71, 112, 0.6);
}
#page-layout .section.off .block .block-options .button,
#page-layout .block.off .block-options .button {
  color: #eee;
}
#lm-modal .loading {
  background: url(../image/ajax-loader-blue.gif) 50% 50% no-repeat;
  min-height: 40px;
}
.blocks-manager .modal-title {
  color: #064770;
}
.blocks-manager .modal-body {
  background-color: #eee;
  overflow-y: scroll;
  padding: 15px;
  max-height: 500px;
}
.blocks-manager .tab-pane {
  padding: 10px;
}
.blocks-manager .blocks-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  text-align: left;
  font-size: 0;
}
.blocks-manager .blocks-list li {
  display: inline-block;
  width: 50%;
  font-size: 12px;
  vertical-align: top;
}
.blocks-manager .block-item {
  display: block;
  border: 1px solid #ccc;
  margin: 6px 5px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #e4eef7;
}
.blocks-manager .block-item:hover {
  -webkit-box-shadow: inset 0 0 20px rgba(6, 71, 112, 0.2);
  -moz-box-shadow: inset 0 0 20px rgba(6, 71, 112, 0.2);
  box-shadow: inset 0 0 20px rgba(6, 71, 112, 0.2);
}
.blocks-manager .block-item i {
  font-size: 22px;
}
.blocks-manager .block-item .title {
  display: block;
  text-transform: capitalize;
  font-size: 14px;
}
.blocks-manager .block-item .info {
  display: block;
  font-size: 11px;
  font-style: italic;
  color: #555;
}