/* EXTENSION STORE CSS*/

/* Extension listing section */
.thumbnails > li.product-item {
    min-width: 300px;
}
.thumbnails > li.product-item {
    float: left;
    margin-bottom: 20px;
}
.ext_thumbnail{
	float: left;
}
.ext_thumbnail .product_thumb {
	display: block;
	width: 60px;
}
.ext_details {
	float: left;
}
.ext_details .ext_name {
	padding: 5px 5px 5px 5px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	width: 200px;
	height: 26px;
}
/* Cool zoom */
.text_zoom {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.text_zoom:hover {
	position: absolute;
	z-index: 999;
	min-width: 300px; 
	padding: 5px;
	margin: 0 200px 5px 0;
	text-align: center;
	background: rgb(255, 255, 255) transparent;
	background: rgba(255, 255, 255, 0.8);   
    border: 1px solid #DCDCDC;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
	-ms-transform: scale(2);
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=2, M12=-0, M21=0, M22=2);
}
.text_zoom a {
	cursor: hand;
	cursor: pointer;
}

.ext_more {
	background-color: #F5F5F5;
	padding: 3px 5px 4px 5px;	
	height: 30px;
}
.ext_more .ext_review {
	float: left;
	text-align: left;
	width: 70px;
	font-size: 11px;	
}
.ext_more .ext_price {
	font-size: 14px;
	float: left;
	text-align: right;
	width: 70px;
}
.ext_more .pricenew, .ext_more .oneprice {
	text-align: right;
	float: right;
	font-size: 14px;
	font-weight: bold;
}
.ext_more .priceold {
	text-align: right;
	float: right;
	font-size: 12px;
	text-decoration: line-through;
}
.ext_more .ext_icons {
	text-align: right;
	float: right;
	font-size: 16px;
	color: #00A1CB;
	width: 20px;
}
.thumbnails .prdocutname {
	font-size: 12px;
	color: #5e626b;
	/*text-transform: uppercase;*/;
	text-align: center;
	margin: 0 0 10px 0;
	display: block;
	padding-right: 17px;
}
.thumbnails {
    list-style: none outside none;
}
.thumbnails > li.span3 {
	min-width: 270px;
}
.product_data .prdocut_title {
	display: block;
	float: left;
	text-align: left;
	padding: 10px 5px 10px 10px;	
	font-size: 13px;
	color: #fff;
	width: 320px;
}
.product_data .review {
	display: block;
	float: left;
	text-align: right;
	padding: 10px 5px 10px 5px;	
	font-size: 13px;
	color: #fff;
	width: 80px;
}
.product_data .price {
	display: block;
	float: left;
	text-align: right;
	padding: 10px 5px 10px 5px;	
	font-size: 14px;
	color: #fff;
	width: 80px;
}
.product_data .pricenew, .product_data .oneprice {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}
.product_data .priceold {
	font-size: 12px;
	color: #fff;
	text-decoration: line-through;
}
.product_data .prdocut_image {
	width: 400px;
}
.tooltip-inner {
    max-width: 765px;
}
.tab-content.rl-content .pagination{

}

/* Extension listing section END */