
#menu_box {
	height: 85px;
	clear: both;
	position:relative;
	visibility:hidden;
}

#menu_box ul.menu {
	background: url(../image/menu/menu_right.png) 100% 0 no-repeat;
}

.menu_l {
	background: url(../image/menu/submenu_left.png) 0 100% no-repeat;
}
.menu_r {
	background: url(../image/menu/submenu_right.png) 100% 100% no-repeat;
	padding:0 6px;
}
.menu_c {
	background: url(../image/menu/submenu_mid.png) 0 100% repeat-x;
	height:43px;
}
.menu_end{
	background: url(../image/menu/menu_right.png) 100% 0 no-repeat;
	height: 42px;
	width: 4px;
	float: right;
}

ul.menu, ul.menu ul {
	margin:0;
	padding:0;
	list-style:none;
	display:block;
}

ul.menu {
	position:relative;
	height:42px;
}

ul.menu li {
	float:left;
}

ul.menu > li + li {
	background: url(../image/menu/menu_sep.gif) no-repeat;
	padding-left:2px;
}

ul.menu a {
	font:normal 14px Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	color:#fff;
}

ul.menu > li > a {
	background: url(../image/menu/menu_mid.png) repeat-x;
	/*padding:0 22px;*/
	height:42px;
	line-height:42px;
	position:relative;
	display:block;
}
ul.menu > li:first-child > a {
	background: url(../image/menu/menu_left.png) no-repeat;
	width:46px;
	padding:0;
	font-size:0;
}
ul.menu > li.last > a {
	background: url(../image/menu/menu_mid.png) 100% 0 repeat-x;
	
}
ul.menu > li.selected > a, ul.menu > li > a:hover, 
ul.menu > li.selected:first-child > a, 
ul.menu > li:first-child > a:hover {
	background-position:0 -42px;
}
ul.menu > li.last > a:hover, ul.menu > li.selected.last > a {
	background-position:100% -42px;
}

ul.menu ul {
	position:absolute;
	top:-999em;
}

ul.menu li ul {
	height:43px;
}

ul.menu li.selected ul {
	top:auto;
	left:0;
	z-index:99;
}

ul.menu li li {
	line-height:43px;
	margin:0 10px;
}

#menu_last_login_item a, #menu_welcome_item a{
    cursor: auto;
}

ul.menu li li.selected > a {
	font-weight:400;
	color:#fff;
}
ul.menu li.selected li a:hover {
	color:#F3F3F3;
}

ul.menu ul li.current > a {
	font-weight:bold;
	text-decoration: underline;
}

ul.menu ul li .parent {
	background: url(../image/icons/icon_expand.png) no-repeat bottom;
	padding-bottom: 5px;	
} 

ul.menu li:hover li ul,
ul.menu li.selected li ul {
	top:-999em;
}
ul.menu li li:hover ul,
ul.menu li li.selected ul {
	top:0;
}
ul.menu li li:hover li ul,
ul.menu li li.selected li ul {
	top:-999em;
}

ul.menu li li li {
	width:100%;
}

ul.menu li ul ul {
	height:auto;
	width:180px;
	padding:5px 0;
	background:#e48811;
}

ul.menu ul li.selected ul {
	left:auto;
	top:-999em;
}
ul.menu ul li:hover ul, 
ul.menu ul li.selected:hover ul {
	left:auto;
	top:43px;
}

ul.menu li li li {
	line-height:25px;
	margin:0;
	padding:0 10px;
}

