body {
	padding: 0;
	margin: 0;
	background: #F7F7F7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

img {
	border: 0;
}

#container {
	padding: 7px 7px;
	height: 440px;
	position: relative;
	overflow: auto;
}

#column_left {
	float: left;
	width: 182px;
	height: 420px;
	padding: 7px;
	position: relative;
	z-index: 2;
}

#column_right_wrapper {
	float: left;
	width: 670px;
	height: 430px;
	margin: 10px 0 0 196px;
	overflow: auto;
	text-align: left;
	z-index: 1;
	position: absolute;
}

#column_right_wrapper .tabs {
	list-style: none;
	margin: 0 0 0 15px;
	padding: 0;
	height: 20px;
	position: relative;
	z-index: 2;
}

#column_right_wrapper .tabs li {
	float: left;
	margin-right: 5px;
}

#column_right_wrapper .tabs li a {
	display: block;
	position: relative;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
}

#column_right_wrapper .tabs li a.selected {
	border: 1px solid #CCC;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: #fff;
	font-weight: bold;
	top: 1px;
}

#column_right_wrapper .ui-tabs-panel {
	padding: 0
}

#column_right {
	float: right;
	width: 668px;
	height: 406px;
	overflow: auto;
	background: #FFF;
	margin: 1px 196px 0 0;
	border: 1px solid #CCC;
	border-radius: 4px;
	position: absolute;
	z-index: 1;
}

.loading_row {
	background: url('../image/loading_row.gif') 50% 50% no-repeat #fff !important;
}

#column_right div.resource {
	display: inline-block;
	text-align: center;
	border: 1px solid #EEEEEE;
	margin: 5px 10px 5px 10px;
	padding: 5px;
	width: 120px;
	overflow-x: hidden;
	position: relative;
}

#column_right div.select {
	border: 1px solid #e78f08;
}

#column_right div.no_resource {
	text-align: center;
	font-weight: bold;
	margin: 10px;
}

#column_right div.no_resource div {
	margin: 10px;
}

#column_right div.buttons {
	margin: 5px;
}

#column_right div.buttons a.edit {
	float: left;
}

#column_right div.buttons a.delete {
	float: right;
}

#column_right a {
	text-decoration: underline;
	text-align: center;
}

#column_right b.name {
	display: block;
	height: 30px;
	overflow: hidden;
}

#column_right a.btn_standard {
	text-decoration: none;
}

#column_right a.select {
	text-decoration: none;
	display: block;
	position: relative;
	width: 120px;
	height: 120px;
	overflow: hidden;
}

#column_right div.resource div.checkbox {
	position: absolute;
	top: 0;
	left: 0;
	margin: 99px 0 0 98px;
	border: 3px solid #ccc;
	background: #ccc;
	text-align: center;
}

#column_right div.resource div.sort_order {
	position: absolute;
	top: 0;
	left: 0;
	margin: 102px 0 0 65px;
	text-align: center;
}

#column_right div.resource div.sort_order input {
	border: 1px solid #ccc;
	width: 25px;
}

#column_right a.delete {
	color: red;
}

#column_right a.selected {
	border: 1px solid #7DA2CE;
	background: #EBF4FD;
}

#button_save_order {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
	display: none;
	width: 130px;
}

#dialog {
	display: none;
}

. button {
	display: block;
	float: left;
	padding: 8px 5px 8px 25px;
	margin-right: 5px;
	background-position: 5px 6px;
	background-repeat: no-repeat;
	cursor: pointer;
}

. button:hover {
	background-color: #EEEEEE;
}

. thumb {
	padding: 5px;
	width: 105px;
	height: 105px;
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	cursor: pointer;
	cursor: move;
}

.search_box {
	display: block;
}

.search_box input {
	width: 125px;
}

.language {
	margin: 15px 0 0
}

.language select {
	border: 1px solid #aaa;
	border-radius: 4px;
	width: 180px;
}

.sub_title {
	padding: 0 0 5px;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #ccc
}

#types {
	margin: 15px 0 0;
}

#types ul {
	list-style: disc outside url("../image/bullet_1.gif");
	margin: 10px 0;
	padding: 0
}

#types ul li {
	padding: 0;
	margin: 4px 0 4px 20px;
}

#types a {
	text-decoration: underline;
	display: block;
	line-height: 20px;
	padding: 0 0 0 5px;
}

#types a.selected {
	font-weight: bold;
	background: #FFF;
	border: 1px solid #CCC;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border-right: none;
	text-decoration: none;
	width: 164px;
}

#select_resource {
	position: absolute;
	bottom: 70px;
	left: 10px;
}

#add_resource {
	position: absolute;
	bottom: 0;
	left: 70px;
}

#add_resource_msg {
	position: absolute;
	bottom: 20px;
	left: 10px;
	color: red
}

#done_resource {
	position: absolute;
	bottom: 0;
	left: 10px;
}

.files {
	margin: 10px 0;
	border-collapse: collapse;
}

.files td {
	padding: 5px;
	border-spacing: 5px;
}

.files td.save {
}

.files td.edit {
}

.files td.save button,
.files td.edit button {
	border: none;
	background: none;
	cursor: pointer;
	font-weight: bold;
}

.files td.save button img {
	vertical-align: middle;
	margin-right: 5px;
}

.resource-details {
	float: left;
}
.resource_image {
	width: 130px;
	max-height: 148px;
	overflow: hidden;
	float: left;
	text-align: center;
}
.resource_image .resource_path {
	font-size: 8px;
}

.resource-details {
	margin: 5px 10px 5px 10px;
}

.resource-details tr.border {
	border-top: 1px solid #ccc
}

.resource-details td {
	vertical-align: top;
}
.resource-details td:first-child {
	width: 83px;
}

.resource-details td a {
	text-decoration: underline;
}

.resource-details td a.close {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}

.resource-details input,
.resource-details select,
.resource-details textarea {
	border: 1px solid #aaa;
	border-radius: 4px;
}

.resource-details input,
.resource-details textarea {
	width: 400px;
}

.resource_image {
	margin: 10px;
}

#resource_details {
	display: none;
	position: absolute;
	z-index: 22;
	background: #FFF;
	opacity: 0.9;
	border: 1px solid #CCC;
	border-radius: 4px;
	width: 668px;
	height: 213px;
	margin: -220px 0 0 220px;
	overflow: auto;
	text-align: left;

}

#multiactions {
	position: absolute;
	z-index: 3;
	right: 30px;
	bottom: 15px;
	background: #CCC;
	border: 4px solid #CCC;
	border-radius: 4px;
}

#multiactions select {
	border: 1px solid #aaa;
	border-radius: 4px;
	width: 150px;
}

#pagination {
	position: absolute;
	z-index: 3;
	left: 230px;
	bottom: 15px;
	background: #CCC;
	border: 4px solid #CCC;
	border-radius: 4px;
	line-height: 22px;
}

#pagination .limits,
#pagination .results {
	display: none;
}

#pagination div {
	float: left;
	margin: 0 3px;
}

#pagination .links ul {
	float: left;
  	display: inline-block;
	line-height: 18px;
  	margin: 0;
	padding: 0;
}
#pagination .links ul li{
  	margin-right: 5px;
}

#pagination div.links ul, #pagination div.links ul li {
	display: inline-block;
	list-style: none outside none;
	float: left;
}

#confirm_dialog {
	display: none;
}