@import url("menu.css");
@import url("icon.css");
@import url("form.css");
@import url("button.css");
@import url("dialog.css");

/*** General Styles ***/
body {
    font: normal 12px Arial, Helvetica, sans-serif;
    background: #fff;
    color: #242424;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #2a465e;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #000;
}

a img {
    border: none
}

/* Common */
.clr_both {
    clear: both;
}

.flt_left {
    float: left;
}

.flt_right {
    float: right;
}

.align_center {
    text-align: center;
}

.align_left {
    text-align: left;
}

.align_right {
    text-align: right;
}

.top10{
	padding-top: 10px;	
}

.hidden {
    visibility: hidden;
}

/* Layout */
.layout_controls {
	padding: 15px 10px 5px 20px; 
}

.wrapper {
    text-align: center;
}

.wrapper_c {
    min-width: 1000px;
}

.page_width {
    min-width: 1000px;
    margin: 0 auto;
}

#container {
    padding: 0 29px;
    text-align: left;
}

/* Header */
#header {
}

.header_logo {
    margin: 12px 0 0 1px;
    float: left;
}

#header .section1 {
    height: 32px;
    text-align: right;
}

#header .section1 .flt_right {
}

#header .section1 .store_nav {
    margin-right: 22px;
    line-height: 32px;
}

#header .section1 .language_box {
    margin-right: 10px;
}

#header .section2 {
    height: 60px;
    margin-bottom: 5px;
}

#header .e_msg_box, .w_msg_box, .n_msg_box {
    height: 31px;
    width: 52px;
    float: right;
    padding-right: 5px;
    padding-left: 0;
}

#header .e_msg_box {
	background: url(../image/icons/msg_e_icon.gif) no-repeat;
}

#header .w_msg_box {
	background: url(../image/icons/msg_w_icon.gif) no-repeat;
}

#header .n_msg_box {
	background: url(../image/icons/msg_n_icon.gif) no-repeat;
}

#header .msg_count {
    padding-top: 8px;
    padding-left: 28px;
    font: bold 14px Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
}

/* Search */
.search_box {
    margin-top: 3px;
    display: inline-block;
}

.search_box .cl, .search_box .cr, .search_box .cc {
	background: url(../image/form/field_mask1.png) no-repeat;
}

.search_box .cl {
    background-position: 0 0;
}

.search_box .cr {
    background-position: 100% -138px;
    padding: 0 6px;
}

.search_box .cc {
    background-position: 0 -69px;
    background-repeat: repeat-x;
	height: 23px;
}

#searchform {
    padding-top: 3px
}

.search_box input {
    color: #565656;
    border: 0;
    background: none;
    padding: 1px 0;
    float: left;

}

.search_box .icon_search {
    display: inline-block;
    width: 19px;
    height: 18px;
    float: left;
    margin-left: -3px;
    cursor: pointer;
}

.btn_search {
    float: right;
    margin-right: -3px;

}

.search_category_heading {
    background-position: 2px 50%;
    background-repeat: no-repeat;
	height: 47px;
    color: #09487D;
    font: 18px/47px Arial, Helvetica, sans-serif;
    padding: 3px 20px 0 40px;
    vertical-align: middle;

}

/* Language */
.language_box {
    margin-top: 3px;
    display: inline-block;
    text-align: left;
}

.language_box .cl, .language_box .cr, .language_box .cc {
    background-image: url(../image/form/field_mask1.png);
    background-repeat: no-repeat;
}

.language_box .cl {
    background-position: 0 0;
}

.language_box .cr {
    background-position: 100% -138px;
    padding: 0 6px;
}

.language_box .cc {
    background-position: 0 -69px;
    background-repeat: repeat-x;
	height: 23px;
}

.language_box .switcher a {
    text-decoration: none;
    display: block;
}

.language_box .switcher .selected {
    font: normal 12px Tahoma, Geneva, sans-serif;
    color: #565656;
}

.language_box .switcher .selected a {
    background: url(../image/select_arrow.png) 100% 50% no-repeat;
    line-height: 23px;
    padding-right: 20px;
}

.language_box .switcher .option {
    position: absolute;
    z-index: 5;
    border: 1px solid #caccd2;
    background-color: #fff;
    display: none;
    margin-left: -6px;
}

.language_box .switcher .option a {
    padding: 4px 5px;
    margin: 2px;
}

.language_box .switcher .option a:hover {
    background: #e7ebed;
}

.language_box .flag {
    height: 23px;
    width: 100%;
    margin: 3px;
}

.language_box .flag img {
    margin: 12px 0 0 0;
    padding: 6px;
    border: 1px solid #CACCD2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.language_box .flag.selected img {
    background-color: #E0E0E0 !important;
}

/* Anchor Links */
#anchor_links {
    line-height: 20px;
    margin-bottom: 10px;
}

#anchor_links a {
    text-decoration: underline;
    display: inline-block;
    margin: 0 15px;
}

.back2top {
    margin-bottom: 10px;
    text-align: right;
}

.back2top a {
    text-decoration: underline;
}

/* Main content */
#content {
    padding: 7px 0 15px;
}

#main_content {
}

#content_mid {
}

/* Footer */
#footer {
    clear: both;
    padding-bottom: 10px;
    color: #fff;
}

#footer_l {
    background: url(../image/footer_left.png) no-repeat;
}

#footer_r {
    background: url(../image/footer_right.png) 100% 0 no-repeat;
    padding: 0 8px;
}

#footer_c {
    background: url(../image/footer_mid.png) repeat-x;
    height: 57px;
}

#footer .help_links {
    line-height: 57px;
}

#footer .help_links a {
    color: #fff;
    margin-right: 15px;
}

#footer .version {
    text-align: center;
    line-height: 57px;
}

#footer .version a {
    color: #fff;
    text-decoration: underline;
}

#footer .footer_text {
    margin-left: 15px;
}

/* Breadcrumb */
.breadcrumb_wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

.breadcrumb {
    padding: 8px 15px 8px 15px;
    margin-top: 7px;
    width: auto;
}


.breadcrumb a {
    font-size: 12px;
    color: #666;
}

/* Cpanel */
#cpanel {
    text-align: center;
}

#cpanel ul.quick_icon {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 834px;
}

#cpanel ul.quick_icon li {
    float: left;
    margin: 12px;
}

ul.quick_icon img {
    border: 0;
    margin-top: 10px;
}

ul.quick_icon span {
    display: block;
    margin-top: 8px;
}

ul.quick_icon a {
    font: normal 9px Arial, Helvetica, sans-serif;
    color: #2a465e;
    text-transform: uppercase;
    display: block;
}

ul.quick_icon a:hover {
    color: #73c6ed;
}

.iconbox_l {
    background: url(../image/quickbox_left.png) no-repeat;
}

.iconbox_r {
    background: url(../image/quickbox_right.png) 100% 0 no-repeat;
    padding: 0 7px;
}

.iconbox_c {
    background: url(../image/quickbox_mid.png) repeat-x;
    width: 101px;
    height: 92px;
    text-align: center;
}

/* Message Box */
.msg_box {
    width: 433px;
    text-align: left;
    margin-bottom: 5px;
}

.msg_box_tl {
    background: url(../image/msgbox_tl.png) no-repeat;
}

.msg_box_tr {
    background: url(../image/msgbox_tr.png) 100% 0 no-repeat;
    padding: 0 6px;
}

.msg_box_tc {
    background: url(../image/msgbox_tc.png) repeat-x;
    height: 6px;
}

.msg_box_cl {
}

.msg_box_cr {
}

.msg_box_cc {
    background: url(../image/msgbox_cc.png) repeat-x #ececec;
    border-left: 1px solid #d6d7dc;
    border-right: 1px solid #d6d7dc;
    padding: 0 6px;
    min-height: 40px;
    vertical-align: middle;
    overflow: hidden;
}

.msg_box_cc p {
    margin: 0;
    padding: 0;
}

.msg_box_bl {
    background: url(../image/msgbox_bl.png) 0 100% no-repeat;
}

.msg_box_br {
    background: url(../image/msgbox_br.png) 100% 100% no-repeat;
    padding: 0 6px;
}

.msg_box_bc {
    background: url(../image/msgbox_bc.png) 0 100% repeat-x;
    height: 6px;
}

/* Message */
.success {
    padding: 10px 10px 10px 20px;
    margin-bottom: 15px;
    background: #E4F1C9 !important;
    border: 1px solid #A5BD71;
    font-size: 12px;
}

.warning {
    padding: 10px 10px 10px 20px;
    margin-bottom: 15px;
    background: #FFDFE0 !important;
    border: 1px solid #FF9999;
    font-size: 12px;
}

.attention {
    padding: 10px 10px 10px 20px;
    margin-bottom: 15px;
    background: #FEFBCC !important;
    border: 1px solid #E6DB55;
    font-size: 12px;
}

/* Content Box */
.contentBox {
    margin-bottom: 10px;
}

.cbox_tl {
    background: url(../image/cont_tl_box.png) no-repeat;
}

.cbox_tr {
    background: url(../image/cont_tr_box.png) 100% 0 no-repeat;
    padding: 0 9px;
}

.cbox_tc {
    background: url(../image/cont_tm_box.png) repeat-x;
    min-height: 47px;
    overflow: hidden;
}

.cbox_tc .heading {
    font: normal 18px Arial, Helvetica, sans-serif;
    color: #09487d;
    text-transform: capitalize;
    padding: 0 20px 0 30px;
    margin: 0;
    line-height: 47px;
    float: left;
	background: no-repeat 2px 50%;
}

.cbox_tc .heading-tabs {
    margin: 17px 0 0 20px;
    float: left;
}

.cbox_tc .heading-tabs a {
    display: block;
    float: left;
    height: 30px;
    margin: 0 5px;
    padding: 0 0 0 6px;
    background: none;
    font: normal 12px/30px Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #09487d;
}

.cbox_tc .heading-tabs a.active {
    background: #fff url('../image/heading_tab_l.jpg') 0 0 no-repeat;
    font-weight: bold;
}
.cbox_tc .heading-tabs a.inactive {
    color: #696969;
	cursor: no-drop;
}

.cbox_tc .heading-tabs a span {
    display: block;
    padding: 0 11px 0 5px;
    height: 30px;
}

.cbox_tc .heading-tabs a.active span {
    background: #fff url('../image/heading_tab_r.jpg') 100% 0 no-repeat;
}

.cbox_tc .toolbar {
    height: 45px;
    text-align: right;
    float: right;
    width: auto;
}

.cbox_tc .tools {
    text-align: right;
    float: right;
    margin: 12px 20px 0;
}

.cbox_tc .tools .btn_standard,
.cbox_tc .tools form,
.cbox_tc .tools span.text_element {
    margin: 0 10px 0 0;
    display: block;
    float: left;
}

.help_element {
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;

}

.cbox_tc .help_element {
    float: right;
    display: inline-block;
    vertical-align: middle;
    margin: 12px 10px 0;

}

.cbox_cl {
}

.cbox_cr {
}

.cbox_cc {
    padding: 10px;
    border-left: 1px solid #caccd2;
    border-right: 1px solid #caccd2;
    background-color: white;
	overflow: hidden;
}

.cbox_bl {
    background: url(../image/cont_bl_box.png) no-repeat;
}

.cbox_br {
    background: url(../image/cont_br_box.png) 100% 0 no-repeat;
    padding: 0 9px;
}

.cbox_bc {
    border-bottom: 1px solid #cbcdd3;
    height: 8px;
    background-color: white;
}

/* Toolbar */
.toolbar .buttons {
    float: right;
    padding-top: 10px;
}

.toolbar .btn_toolbar {
    margin-right: 5px;
    margin-left: 5px;
}

/* Search Filter */
.filter {
    padding: 10px 0 20px 0;
    font-size: 11px;
    clear: both;
}

.filter .search_keyword {
    display: inline-block;
    position: relative;
    float: left;
}

.filter .search_keyword input {
    width: 170px;
    color: #565656;
}

.filter .search_keyword_match {
    display: inline-block;
    float: left;
    margin-left: 5px;
}

.filter .search_keyword_match select {
    color: #565656;
}

.filter .search_keyword .btn_search2 {
    display: inline-block;
    position: absolute;
    right: 4px;
    top: 4px;
}

.filter .search_keyword .btn_search2 span {
    background-repeat: no-repeat;
    display: inline-block;
    width: 26px;
    height: 16px;
}

.filter .search_price {
    display: inline-block;
    margin-left: 15px;
    float: left;
}

.filter .search_price input {
    width: 35px;
    text-align: center;
    font-size: 14px;
    color: #565656;
}

.filter .search_category, .filter .search_status {
    display: inline-block;
    margin-left: 15px;
    float: left;
}

.filter .btn_filter {
    display: inline-block;
    float: left;
    margin: 0 0 0 12px;
}

.cbox_tc .filter {
    clear: none;
    float: left;
    padding: 0;
    margin: 12px 0 0;
}

.cbox_tc .filter .select_element,
.cbox_tc .filter .text_element,
.cbox_tc .filter button {
    display: block;
    float: left;
    padding: 0 0 0 6px;
}

/* Fieldset Box */
.fieldset {
    padding: 12px 0 0 0;
    margin: 0 0 10px 0;
    position: relative;
}

.fieldset .heading {
    font: normal 18px Arial, Helvetica, sans-serif;
    color: #11558f;
    display: inline-block;
    background: #fff;
    position: absolute;
    padding: 0 5px;
    top: 0;
    left: 15px;
}

.fieldset .top_left {
    background: url(../image/a_corner_tl.png) no-repeat;
}

.fieldset .top_right {
    background: url(../image/a_corner_tr.png) 100% 0 no-repeat;
    padding: 0 6px;
}

.fieldset .top_mid {
    border-top: 1px solid #dcdcdc;
    background: #fff;
    height: 5px;
}

.fieldset .cont_left {
}

.fieldset .cont_right {
}

.fieldset .cont_mid {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    padding: 10px;
    background: #fff;
}

.fieldset .paypal_sandbox_bg {
	background-image: url(../image/paypal_sandbox_bg.png);
}

.fieldset .bottom_left {
    background: url(../image/a_corner_bl.png) no-repeat;
}

.fieldset .bottom_right {
    background: url(../image/a_corner_br.png) 100% 0 no-repeat;
    padding: 0 6px;
}

.fieldset .bottom_mid {
    border-bottom: 1px solid #dcdcdc;
    background: #fff;
    height: 5px;
}

/* Old box styles */
.box {
    margin-bottom: 15px;
}

.box > .heading {
    height: 40px;
    background: url('../image/box_center.png') repeat-x;
    margin-bottom: 0;
}

.box > .left {
    float: left;
    width: 7px;
    height: 40px;
    background: url('../image/box_left.png') no-repeat;
}

.box > .right {
    float: right;
    width: 7px;
    height: 40px;
    background: url('../image/box_right.png') no-repeat;
}

.box > .heading h1 {
	background: no-repeat 2px 9px;
	margin: 0;
    padding: 11px 0 11px 30px;
    color: #003A88;
    font-size: 16px;
    float: left;
}

.box > .heading .buttons {
    float: right;
    padding-top: 8px;
}

.box > .content {
    padding: 10px;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    min-height: 300px;
}

/* Options */
.option_form {
    width: 100%;
    display: inline-block;
}

.option_field {
    width: 250px;
    float: left;
}

.option_field select.attribute_list {
    width: 225px;
	border: none;
}

div#options {
    margin-left: 250px;
}

.options_buttons {
    width: 235px;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    margin-top: 15px;
    overflow: hidden;
}

.options_buttons button {
    margin-top: 10px;
}

.options_buttons select#new_option_form_attribute_id {
    width: 200px;
}

div#options .option_lang_field {
    margin-bottom: 5px;
}

.option_field .abuttons_grp {
    display: block;
    margin: 5px 0 0 5px;
}

.option_form_div {
    display: inline-block;
    white-space: nowrap;
    margin-right: 20px;
    margin-top: 10px;
}

.editOption{
    background-color: #EDF0F0;
    margin: 10px 0;
    padding: 5px;
	width: 100%;
}

/* Login Box */
.loginBox {
    width: 430px;
    min-width: 350px;
    min-height: 300px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.loginBox .cbox_tc .heading {
    font: normal 16px Arial, Helvetica, sans-serif;
    color: #09487d;
    text-transform: capitalize;
    padding: 0 20px 0 35px;
    margin: 0;
    line-height: 47px;
    float: left;
	background: no-repeat 2px 50%;
	white-space: nowrap;
}

.loginBox .btn_standard .btn_text {
    padding: 0 10px;
}

.loginBox a {
    text-decoration: underline;
}

.loginBox input {
    width: 145px;
}

.loginBox img {
    margin-top: 5px;
}

/* Listing Table */
.table_list {
    border-collapse: collapse;
    border: 1px solid #caccd2;
    width: 100%;
}

.table_list thead td {
    border-right: 1px solid #caccd2;
    border-bottom: 1px solid #caccd2;
    text-align: center;
    height: 40px;
    font: normal 14px Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 0 rgba(127, 144, 158, 0.5);
    color: #2a465e;
}

.table_list .asc {
    padding-right: 15px;
    background: url(../image/icons/icon_sort_asc.png) 100% 50% no-repeat;
}

.table_list .desc {
    padding-right: 15px;
    background: url(../image/icons/icon_sort_desc.png) 100% 50% no-repeat;
}

.table_list tbody td {
    border-right: 1px solid #caccd2;
    border-bottom: 1px solid #caccd2;
    padding: 2px;
    text-align: center;
}

.table_list tbody tr:nth-child(odd) {
    background: #fff;
}

.table_list tbody tr:nth-child(even) {
    background: #e4eef7;
}

.table_list tbody td img {
    line-height: 0;
}

.table_list tbody td input {
    font: normal 13px Arial, Helvetica, sans-serif;
    color: #5f6061;
}

.table_list .col1 {
    width: 45px;
}

.table_list .col4 input,
.table_list .col5 input,
.table_list .col6 input {
    text-align: center;
}

/* Listing Table - Curve */
.list_curve_tl, .list_curve_tr, .list_curve_bl, .list_curve_br {
    position: absolute;
    width: 6px;
    height: 6px;
}

.list_curve_tl {
    background: url(../image/table_list_tl.png) no-repeat;
    top: 0;
    left: 0;
}

.list_curve_tr {
    background: url(../image/table_list_tr.png) no-repeat;
    top: 0;
    right: 0;
}

.list_curve_bl {
    background: url(../image/table_list_bl.png) no-repeat;
    bottom: 0;
    left: 0;
}

.list_curve_br {
    background: url(../image/table_list_br.png) no-repeat;
    bottom: 0;
    right: 0;
}

.list_curve {
    position: relative;
}

/* Listing Image */
.image_list {
    border-collapse: collapse;
    width: 100%;
}

.image_list .left {
    text-align: left;
    padding: 5px;
}

.image_list .right {
    text-align: right;
    padding: 5px;
}

.image_list .center {
    text-align: center;
    padding: 5px;
}

.image_block {
    display: inline-block;
    text-align: right;
}

.image_list .image_block {
    float: left;
    margin: 10px 30px;
    text-align: center;
}

.type_blocks .image_block {
    min-width: 120px;
    height: auto;
    overflow: hidden;
}

.list {
    border-collapse: collapse;
    width: 100%;
}

.list td {
    border-bottom: 1px solid #CACCD2;
    font-weight: normal;
    height: 40px;
    overflow: hidden;
    padding: 2px 2px 2px 10px;
    color: #09487D;
}

.list tfoot td {
    border: none;
}

.list thead td {
    padding: 0 5px;
}

.list thead td a, .list thead td {
    font: 14px Arial,Helvetica,sans-serif;
    border: medium none;
    color: #2A465E;
}

.list tbody a {
    text-decoration: underline;
}

.list.option tbody td {
    vertical-align: middle;
    padding: 0 5px;
    height: auto;
}

.list tbody td {
    vertical-align: middle;
    padding: 0 5px;
    height: 37px;
}

.list tbody tr:nth-child(odd) {
    background: #fff;
}

.list tbody tr:nth-child(even) {
    background: #e4eef7;
}

.list .left {
    text-align: left;
    padding: 7px;
}

.list .right {
    text-align: right;
    padding: 7px;
}

.list .center {
    text-align: center;
    padding: 2px;
}

.list .asc {
    padding-right: 15px;
    background: url('../image/asc.png') right center no-repeat;
}

.list .desc {
    padding-right: 15px;
    background: url('../image/desc.png') right center no-repeat;
}

.list .filter td {
    padding: 5px;
}

/*
option list
*/

.listing_bottom {
    margin-top: 10px;
}

.listing_bottom .btn_standard {
    display: inline;
}

.listing_bottom .btn_standard span {
    float: left
}

/* Cache Manager */
.cache_list {
    width: 90%;
    margin: 0 auto;
}

.cache_list thead td {
}

.cache_list tbody td {
    text-align: left;
}

.cache_list tbody tr:nth-child(odd) {
    background: #fff;
}

.cache_list tbody tr:nth-child(even) {
    background: #e4eef7;
}

.cache_list .col1 {
    width: 45px;
    text-align: center;
}

.cache_list .col2 {
    min-width: 25%;
}

.cache_list .col2, .cache_list .col3 {
    padding: 0 5px;
}

/* Pagination */
.pagination {
    font: normal 14px Arial, Helvetica, sans-serif;
    color: #5f6061;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

.pagination .links, .pagination .results {
    padding: 5px;
}

.pagination .links {
    float: right;
}

.pagination .limits {
    float: left;
}

.pagination .limits select {
    width: 60px;
}

.pagination .links a {
    font: normal 14px Arial, Helvetica, sans-serif;
    padding: 4px 2px 0;
    text-decoration: underline;
    color: #5f6061;
}

.pagination .links .next,
.pagination .links .previous,
.pagination .links .first,
.pagination .links .last {
    text-decoration: none;
}

.pagination .links b {
    padding: 4px 2px 1px;
    text-decoration: none;
    font-weight: normal;
    color: #f25a2c;
}

.pagination .results {
    text-align: center;
}

.form {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.form tr td:first-child {
    width: 200px;
}

.form > * > * > td {
    padding: 10px;
    color: #000;
}

.form .btn_language {
    margin-left: 8px;
}

.extension_info {
	border-style: none;
	border-bottom: 1px solid #aaa;
	margin: 5px 0;
    padding: 5px 0;
}

.extension_info td {
    padding: 3px;
}

.summary {
}

.summary td {
    padding: 4px;
}

.summary_image {
}

.summary_image a {
    text-decoration: underline;
}

.summary_label {
    width: 14%;
    font-weight: bold;
    text-align: left
}

.summary_value {
    width: 20%;
}

.summary_loading {
    display: none;
    background: #FFFFFF url('../image/ajax-loader-blue.gif') no-repeat center center;
    height: 100px;
}

.help {
    color: #999;
    font-size: 10px;
    font-weight: normal;
    font-family: Verdana, Geneva, sans-serif;
    display: block;
}

.required {
    color: #FF0000;
    font-weight: bold;
    margin: 0 0 0 5px;
}

.error {
    color: #FF0000;
    padding-top: 3px;
    display: block;
    font-size: 12px;
    font-weight: normal;
}

.htabs {
    padding: 0 0 0 10px;
    height: 30px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.htabs a {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: #FFFFFF url('../image/tab.png') repeat-x;
    padding: 6px 15px 7px 15px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000000;
    margin-right: 2px;
}

.htabs a.selected {
    padding-bottom: 8px;
    background: #FFFFFF;
}

.vtabs {
    width: 180px;
    padding: 10px 0;
    min-height: 300px;
    float: left;
    display: block;
    border-right: 1px solid #DDDDDD;
}

.vtabs a {
    display: block;
    float: left;
    width: 150px;
    margin-bottom: 5px;
    clear: both;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background: #F7F7F7;
    padding: 6px 14px 7px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    color: #000000;
}

.vtabs a.selected {
    padding-right: 15px;
    background: #FFFFFF;
}

.vtabs_page {
    margin-left: 195px;
}

.add {
    -moz-background-clip: border-box;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: url(../image/add.png) 100% 0 no-repeat;
    color: #000000;
    display: inline-block;
    padding-right: 20px;
    line-height: 16px;
    cursor: pointer;
}

.remove {
    -moz-background-clip: border-box;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: url(../image/delete.png) 100% 0 no-repeat;
    color: #000000;
    display: inline-block;
    padding-right: 20px;
    line-height: 16px;
    cursor: pointer;
}

/* Layout & Blocks */
.delete_page_layout{
	position: relative;
	top: -25px;
	z-index: 10000;
}

#page_links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 160px;
}

#page_links li:first-child {
    border-top: 1px solid #caccd2;
}

#page_links li {
    display: block;
    border: 1px solid #caccd2;
    border-right: 0;
    border-top: 0;
    position: relative;
}
#page_links li a {
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #11558f;
    display: block;
    padding: 5px 8px;
}
#page_links li a:first-child {
    padding: 5px 20px 5px 8px;
}

#page_links li a:hover {
    color: #000;
}

#page_links li a.shover {
    background: #fff;
    color: #000;
}

#page_layout {
    border: 1px solid #caccd2;
    margin-left: 159px;
}

.page_wrapper {
    padding: 10px;
}

#page_layouts select {
    width: 150px;
}

.block_off {
    background-color: #f3f3f3;
}

#header_block {
    border: 1px solid #caccd2;
    margin-bottom: 5px;
    height: auto;
}

#header_top_block {
    border-bottom: 1px solid #caccd2;
    min-height: 30px;
}

#header_top_block .section {
    float: left;
    width: 25%;
    text-align: center;
    padding: 8px 0;
}

#header_top_block .section select {
    width: 90%;
}

#header_bottom_block {
    height: auto;
    overflow: hidden;
}

#header_bottom_block .section {
    float: right;
    width: 25%;
    text-align: center;
    padding: 8px 0;
    clear: both;
}

#header_bottom_block .section select {
    width: 90%;
}

#header_bottom_block .block_buttons {
    padding-right: 8px;
    clear: right;
}

#main_content_block {
    margin: 10px 0;
}

#left_block {
    border: 1px solid #caccd2;
    float: left;
    width: 180px;
    padding: 5px 0;
}

#left_block .section {
    padding: 5px 0;
    text-align: center;
}

#left_block .section select {
    width: 90%;
}

#left_block .block_buttons {
    padding-right: 8px;
}

#right_block {
    border: 1px solid #caccd2;
    float: right;
    width: 180px;
    padding: 5px 0;
}

#right_block .section {
    padding: 5px 0;
    text-align: center;
}

#right_block .section select {
    width: 90%;
}

#right_block .block_buttons {
    padding-right: 8px;
}

#content_block {
    border: 1px solid #caccd2;
    margin: 0 190px;
    padding: 5px 10px;
}

#content_top_block {
    margin-bottom: 20px;
    min-height: 30px;
}

#content_top_block .section {
    padding: 5px 0;
    text-align: center;
}

#content_top_block .section select {
    width: 100%;
}

#content_bottom_block {
    margin-top: 20px;
    min-height: 30px;
}

#content_bottom_block .section {
    padding: 5px 0;
    text-align: center;
}

#content_bottom_block .section select {
    width: 100%;
}

#content_center_block {
    border: 1px solid #caccd2;
    min-height: 100px;
}

#footer_block {
    border: 1px solid #caccd2;
}

#footer_top_block {
    border-bottom: 1px solid #caccd2;
    min-height: 30px;
}

#footer_top_block .section {
    float: right;
    clear: both;
    width: 25%;
    text-align: center;
    padding: 8px 0;
}

#footer_top_block .section select {
    width: 90%;
}

#footer_top_block .block_buttons {
    padding-right: 8px;
}

#footer_bottom_block {
    min-height: 30px;
}

#footer_bottom_block .section {
    float: left;
    width: 25%;
    text-align: center;
    padding: 8px 0;
}

#footer_bottom_block .section select {
    width: 90%;
}

.block_buttons {
    padding: 5px 0;
    text-align: right;
}

.block_buttons .button1 .btn_text {
    padding: 0 6px;
}

.block_status {
    padding: 2px 8px;
}

.debug_info {
    text-align: left;
    margin: 50px 0 0;
    width: 100%;
    clear: both;
}

.debug_info td {
    border-bottom: 1px solid #aaa;
}

.mysql {
    margin-top: 10px;
}

.debug_info .even {
    background-color: #eeeeee;
}

.debug_error {
    background: #EFEBAA;
    color: #FF0000;
}

.debug_warning {
    background: #e7ed0e;
    color: #030000;
}

/* Post-it notes */
.block_tmpl_wrapper {
    position: relative;
}

.postit_notes_box {
    font: 11px Tahoma, Arial, Helvetica;
    color: #000000;
    position: absolute;
    top: 0;
    right: 0;
}

.postit_notes_box_parent {
    font: 11px Tahoma, Arial, Helvetica;
    color: #000000;
    position: absolute;
    top: -20px;
}

#header .postit_notes_box_parent {
    top: -5px;
}

.postit_icon {
    background: url(../image/icons/icon_note.png) 50% 50% no-repeat;
    width: 20px;
    height: 16px;
    display: inline-block;
    margin: 10px 6px 0 0;
    cursor: pointer;
}

.postit_notes {
    display: none;
    position: absolute;
    z-index: 99;
    top: 0;
    margin: 8px 0 0 25px;
    border: 1px solid #000;
    background: #d6df2f;
    padding: 6px 8px;
}

.postit_notes ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}

.postit_notes ul li {
    margin: 4px 0;
    display: block;
    white-space: nowrap;
}

.postit_notes ul ul {
    margin-left: 8px;
}

.postit_notes a {
    text-decoration: none;
}

.postit_notes a.icon_xpandarrow {
    background: url(../image/icons/icon_collapse.png) 100% 50% no-repeat;
    padding-right: 12px;
    color: #000;
    font-weight: bold;
}

.postit_notes a.icon_xpandarrow:hover {
    text-decoration: underline;
}

.postit_notes a.icon_xpandarrow.expand {
    background: url(../image/icons/icon_expand.png) 100% 50% no-repeat;
}

.postit_notes.show {
    display: block;
}

.postit_notes .collapse {
    height: 0;
}

.postit_notes .expand {
    height: auto;
}

.postit_close {
    position: absolute;
    right: 8px;
}

.postit_close .icon_close {
    display: inline-block;
    background: url(../image/icons/close_icon.gif) no-repeat;
    width: 11px;
    height: 11px;
}

.menu_link_block {
    position: absolute;
    margin: -286px 0 0 430px;
}

/* Message manager*/
.message_head {
    color: #09487D;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5px;
    bottom: 5px;
    float: none;
}

.message_head table {
    margin-left: 5px;
}

.message_body {
    color: #09487D;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0 0 0;
    float: none;
    height: 405px;
    overflow: auto;
}

.message_status {
    line-height: 20px;
    font-size: 14px;
    margin-left: 18px;
}

.message_date {
    line-height: 20px;
    font-size: 14px;
}

.message_repeat {
    line-height: 20px;
    font-size: 14px;
    display: none;
}

.message_text {
    font: normal 14px Arial, Helvetica, sans-serif;
    line-height: 18px;
    padding: 5px;
    color: black;
	height: 380px;
    width: 528px;
    overflow: auto;
	background: white none !important;
}

.message_text a {
    font: bold 14px Arial, Helvetica, sans-serif;
    line-height: 18px;
    padding: 5px;
    color: #E78A11;
}

.license_text {
    height: 400px;
    overflow: auto;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    vertical-align: middle;
}

#marketplace {
    border: none;
    width: 100%;
    height: 5px;
}

#progressbar {
    text-align: center;
}

.checkboxes {
}

.note {
    background: #EEE;
    border: 1px solid #AAA;
    margin: 20px 10px;
    padding: 10px;
}

.note a {
    text-decoration: underline
}

.product_images {
    width: 180px;
    margin: 5px auto;
}

.product_images .main_image {
    text-align: center;
}

.product_images .additional_images {
}

.product_images .additional_images div {
    float: left;
    margin: 4px;
    border: 2px solid #e5e5e5
}

.product_images .additional_images img {
    border: 1px solid #fff
}

.product_images .enlarge {
    margin-top: 10px;
    height: 11px;
    line-height: 11px;
    text-align: center;
}

.product_images .enlarge span {
    color: #F65202;
}

.image {
    cursor: pointer;
}

#template {
    margin: 10px 0;
}

#template img {
    border: 1px solid #EEEEEE;
}

.sep {
    padding: 0 10px;
    height: 20px;
}

#values, #file_settings {
    margin: 10px 0;
    display: none;
}

#values a, #discount a, #option_values_tbl a, #add_option_value, #file_settings a {
    width: 16px;
    height: 20px;
    line-height: 20px;
    background-position: left center;
    padding: 0;
    margin: 2px 6px;
    vertical-align: middle
}

#values .value, #file_settings .value {
    margin: 3px 0;
}

#values .toDelete {
    opacity: 0.3;
}

#discount td, #option_values_tbl td {
    padding: 4px;
}

#option_name_block {
    width: 215px;
	border-spacing:0;
	border-collapse:collapse;
}

#discount .toDelete {
    opacity: 0.3;
}

#option_values_tbl .toDelete {
    opacity: 0.3;
}

#discount a.expandRow {
    background: none;
    margin: 0;
    text-decoration: none;
    text-align: center;
}

#option_values_tbl a.expandRow {
    background: none;
    margin: 0;
    text-decoration: none;
    text-align: center;
}

.additionalRow {
}

.additionalRow .flt_left {
    margin-right: 40px;
}

.optionRow {
    background-color: #E4EEF7;
}

.optionRow.expanded {
    vertical-align: middle;
    min-height: 30px;
    margin: 10px;
    padding: 10px 0 10px 0 !important;
}

.optionRow.expanded td {
    padding: 10px 0 10px 0 !important;
}

.striped_table {
    border: medium none;
    border-collapse: collapse;
    margin: 0;
    table-layout: fixed;
}

.striped_table tr {
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    background: none repeat scroll 0 0 #EEEEEE;
}

.tables_list table {
    margin-left: 20px;
}

.tables_list table.first {
    background: none repeat scroll 0 0 #FFFFFF;
}

.tables_list table.second {
    background: none repeat scroll 0 0 #E4EEF7;
    opacity: 1;
}

.dropdown_list thead td, .dropdown_list span, .dropdown_list label {
    font: 13px Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#see_details{
	cursor: pointer;
	text-decoration:underline;
}
.default_uncheck, .pointer{
	cursor: pointer;
}

@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
.text-blink {
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s; 
}

/* Voice commands */
#results{
	padding: 10px 0 0 0;
}

.grey_out {
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}

#voice_start, #voice_disabled{
	padding: 10px 10px 0 20px;
}
#div_language{
	display: inline-block;
}

.final_speech {
	font-weight: bold;
}
.interim_speech {
	font-weight: normal;
	color: gray;
}
.mic_on {
	color: red;
	padding: 0 10px 0 10px;
}
.mic_off, .try_again {
	padding: 0 10px 0 10px;
}
.voice-close {
	padding: 0 0 0 10px;
}


/* downloads */

#product_download_form a{
    height: 26px;
    background-position: left center;
    padding: 0;
    vertical-align: middle
}


#product_download_form td {
    padding: 4px;
	border-bottom: 1px solid #CACCD2;
	border-top: 1px solid #CACCD2;
}

#product_download_form>tbody>tr>td:last-child {
	width: 170px;
    text-align: center;
}

#product_download_form .toDelete {
    opacity: 0.3;
}

#product_download_form a.expandRow {
    background: none;
    margin: 0;
    text-decoration: none;
    text-align: center;
	padding-left: 10px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
}

#product_download_form a.delete, #product_download_form a.push {
    margin-left: 6px;
}
#product_download_form a.add  {
	width: 16px;
}
#product_download_form a.add  {
	width: 16px;
}

#product_download_form .additionalRow .table>tbody>tr{
	background-color: #FFFFFF;
}
#product_download_form .additionalRow{
	padding-top: 20px;
}


#product_download_form .fieldset{
	width: 49%;
	margin: 5px;
}

#product_download_form .table td{
	border:0;
}
#product_download_form .table td:first-child{
	width: 40%;
}

#product_download_form .clean, #product_download_form tr.clean>td{
	border:0;
	background-color: white;
}
/*order downloads*/
div.download-list{
	margin-top: 30px;
}
table.download-list{
	margin-top: 10px;
}
table.download-list .warning{
	border: none;
}
.download-list th{
	border: medium none;
	color: #2A465E;
	font: 15px Arial,Helvetica,sans-serif;
	font-weight: bold;
}
.download-list>tbody>tr>td:first-child{
	width:10%;
}

.download-list-attributes small{
	clear: both;
	float: none;
	display: block;
	margin-left: 20px;
}
div.download-list-attributes{
	min-width: 110px;
	max-width: 160px;
	max-height: 150px;
	overflow: auto;
	display: block;
}

.maplist{
	max-height: 100px;
	overflow: auto;
}

.push-download{
	margin: 10px;
	display: none;
}
.order_files{
	padding-bottom: 40px !important;
}
.order_files a.add{
	width: 10px;
	margin: 10px 40px 10px;
	display: block;
}

.download-history{
	width: 100%;
	font-size: 12px;
	height: 150px;
	overflow: auto;
	margin: 10px 0;
}

.download-history table{
	width: 100%;
}
.download-history th{
	font-size: 12px;
}

.caption{
	text-align: left;
	font-size: 13px;
	color: #696969;
	font-weight: bold;
	margin-top: 10px;
}

/* EXTENSION STORE CSS*/

.extension-store-list.cbox_cc{
	width: 100%;
	border-collapse: separate;
}

.extension-store-list #menu {
	vertical-align: top;
}

.extension-store-list li.search-tab input {
	height: 20px;
	width: 146px;
	font-size: 14px;

}
.extension-store-list li.search-tab .aform {
	margin: 6px 0 6px 6px;

}
.extension-store-list .store-menu{
	margin: 5px;
}
.extension-store-list .store-menu li{
	background-color: #f4f4f4;
	border-radius: 5px;
}
.extension-store-list .store-menu li.selected{
	background-color: #e1e1e1;
}


.extension-store-list .sorting {
	height: 42px;
	margin-top: 18px;
	margin-right: 10px;
}
.extension-store-list .pagination {
	clear: none;
	width:100%;
	text-align: left;
}

.extension-store-list .pagination .sorting{
	display: inline-block;
}

.extension-store-list .pages {
	display: inline-block;
	width: 70%;
}
.extension-store-list .pages .limits {
	float: none;
}
.extension-store-list .pages>div {
	display: inline-block;
	line-height: 25px;
}
.extension-store-list .pages ul>li>a{
	padding: 3px 6px;
	text-decoration: none;
}

.extension-store-list .pagination{
	padding-left: 30px;
}

.extensionStoreBox 	.alert{
	position: absolute;
	width: 160px;
	height: 17px;
	cursor: pointer;
}

/* Extension listing section */
.thumbnails.grid .span3 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.ext_thumbnail{
	float: left;
}
.ext_thumbnail .product_thumb {
	display: block;
	width: 60px;
}
.ext_details {
	float: left;
	min-width: 200px;
	line-height: 18px;
}
.ext_details .ext_name {
	padding: 5px 5px 5px 5px;
	text-align: left;
	white-space: nowrap;
	overflow-x: hidden;
	width: 200px;
	height: 18px;
}
/* Cool zoom */
.text_zoom {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.text_zoom:hover {
	position: absolute;
	z-index: 999;
	min-width: 300px; 
	padding: 5px;
	margin: 0 200px 5px 0;
	text-align: center;
	background: rgb(255, 255, 255) transparent;
	background: rgba(255, 255, 255, 0.8);   
    border: 1px solid #DCDCDC;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
	-ms-transform: scale(2);
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=2, M12=-0, M21=0, M22=2);
}
.ext_more {
	background-color: #F5F5F5;
	padding: 5px 5px;	
	height: 18px;
}
.ext_more .ext_review {
	float: left;
	text-align: left;
	width: 70px;
	font-size: 11px;	
}
.ext_more .ext_price {
	font-size: 14px;
	float: left;
	text-align: right;
	width: 100px;
}
.ext_more .pricenew, .ext_more .oneprice {
	text-align: right;
	float: right;
	font-size: 16px;
	font-weight: bold;
}
.ext_more .priceold {
	text-align: right;
	float: right;
	font-size: 12px;
	text-decoration: line-through;
}
.ext_more .ext_icons {
	text-align: right;
	float: right;
	font-size: 16px;
	color: #00A1CB;
	width: 30px;
}
.thumbnails .prdocutname {
	font-size: 12px;
	color: #5e626b;
	/*text-transform: uppercase;*/;
	text-align: center;
	margin: 0 0 10px 0;
	display: block;
	padding-right: 17px;
}
.thumbnails > li.span3 {
	min-width: 270px;
}
.product_data .prdocut_title {
	display: block;
	float: left;
	text-align: left;
	padding: 10px 5px 10px 20px;	
	font-size: 13px;
	color: #fff;
	width: 180px;
}
.product_data .review {
	display: block;
	float: left;
	text-align: right;
	padding: 10px 5px 10px 5px;	
	font-size: 13px;
	color: #fff;
	width: 80px;
}
.product_data .price {
	display: block;
	float: left;
	text-align: right;
	padding: 10px 5px 10px 5px;	
	font-size: 14px;
	color: #fff;
	width: 80px;
}
.product_data .pricenew, .product_data .oneprice {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}
.product_data .priceold {
	font-size: 12px;
	color: #fff;
	text-decoration: line-through;
}
.product_data .prdocut_image {
	width: 400px;
}
.tooltip-inner {
    max-width: 400px;
}
/* Extension listing section END */

