<?xml version="1.0" encoding="UTF-8"?>
<definitions>
  <definition>
    <key>heading_title</key>
    <value><![CDATA[roghchlár]]></value>
  </definition>
  <definition>
    <key>text_success</key>
    <value><![CDATA[Rath: Tá tú mhodhnú roghchlár!]]></value>
  </definition>
  <definition>
    <key>entry_item_id</key>
    <value><![CDATA[le haitheantas ar leith]]></value>
  </definition>
  <definition>
    <key>entry_item_icon</key>
    <value><![CDATA[deilbhín]]></value>
  </definition>
  <definition>
    <key>entry_item_text</key>
    <value><![CDATA[téacs]]></value>
  </definition>
  <definition>
    <key>entry_item_url</key>
    <value><![CDATA[Nasc <br/><span class="help">Maidir le naisc sheachtracha a chur http: // nó https: // dtús</span>]]></value>
  </definition>
  <definition>
    <key>entry_parent_id</key>
    <value><![CDATA[tuismitheoir]]></value>
  </definition>
  <definition>
    <key>entry_sort_order</key>
    <value><![CDATA[Ordú Sórtáil]]></value>
  </definition>
  <definition>
    <key>entry_link_type</key>
    <value><![CDATA[Cineál Link]]></value>
  </definition>
  <definition>
    <key>text_select_parent_id</key>
    <value><![CDATA[- Root Menu -]]></value>
  </definition>
  <definition>
    <key>error_empty</key>
    <value><![CDATA[Ní féidir Allamuigh bheith Empty!]]></value>
  </definition>
  <definition>
    <key>error_non_unique</key>
    <value><![CDATA[ID Mír Ní leith!]]></value>
  </definition>
  <definition>
    <key>error_non_ascii</key>
    <value><![CDATA[carachtair alfa-uimhriúla nár cheadaigh réimse roghchlár ID!]]></value>
  </definition>
  <definition>
    <key>text_category_link_type</key>
    <value><![CDATA[Catagóir Leathanach]]></value>
  </definition>
  <definition>
    <key>text_content_link_type</key>
    <value><![CDATA[Ábhar Leathanach]]></value>
  </definition>
  <definition>
    <key>text_custom_link_type</key>
    <value><![CDATA[Saincheaptha Link nó URL]]></value>
  </definition>
</definitions>
