<?xml version="1.0" encoding="UTF-8"?>
<definitions>
  <definition>
    <key>heading_title</key>
    <value><![CDATA[Menu]]></value>
  </definition>
  <definition>
    <key>text_success</key>
    <value><![CDATA[Sukses: Anda telah mengubah menu!]]></value>
  </definition>
  <definition>
    <key>entry_item_id</key>
    <value><![CDATA[Identitas unik]]></value>
  </definition>
  <definition>
    <key>entry_item_icon</key>
    <value><![CDATA[icon]]></value>
  </definition>
  <definition>
    <key>entry_item_text</key>
    <value><![CDATA[Teks]]></value>
  </definition>
  <definition>
    <key>entry_item_url</key>
    <value><![CDATA[Link <br/><span class="help">Untuk link eksternal menambahkan http: // atau https: // di awal</span>]]></value>
  </definition>
  <definition>
    <key>entry_parent_id</key>
    <value><![CDATA[Induk]]></value>
  </definition>
  <definition>
    <key>entry_sort_order</key>
    <value><![CDATA[Urutan Sortir]]></value>
  </definition>
  <definition>
    <key>entry_link_type</key>
    <value><![CDATA[Link Type]]></value>
  </definition>
  <definition>
    <key>text_select_parent_id</key>
    <value><![CDATA[- Akar Menu -]]></value>
  </definition>
  <definition>
    <key>error_empty</key>
    <value><![CDATA[Bidang tidak dapat Kosong!]]></value>
  </definition>
  <definition>
    <key>error_non_unique</key>
    <value><![CDATA[Item ID tidak unik!]]></value>
  </definition>
  <definition>
    <key>error_non_ascii</key>
    <value><![CDATA[Hanya karakter alfanumerik diizinkan untuk bidang menu ID!]]></value>
  </definition>
  <definition>
    <key>text_category_link_type</key>
    <value><![CDATA[Kategori Halaman]]></value>
  </definition>
  <definition>
    <key>text_content_link_type</key>
    <value><![CDATA[konten Halaman]]></value>
  </definition>
  <definition>
    <key>text_custom_link_type</key>
    <value><![CDATA[Tautan kustom atau URL]]></value>
  </definition>
</definitions>
