<?xml version="1.0"?>
<extension>
    <id>default_citylink</id>
    <version>1.0.0</version>
	<type>shipping</type>
	<category>shipping</category>
    <cartversions>
        <item>0.9</item>
        <item>1.0</item>
        <item>1.1</item>
    </cartversions>
    <layout></layout>
    <priority>10</priority>
    <settings>
	    <item id="default_citylink_rates">
            <type>textarea</type>
            <default_value>10:11.6,15:14.1,20:16.60,25:19.1,30:21.6,35:24.1,40:26.6,45:29.1,50:31.6,55:34.1,60:36.6,65:39.1,70:41.6,75:44.1,80:46.6,100:56.6,125:69.1,150:81.6,200:106.6</default_value>
        </item>
	    <item id="default_citylink_location_id">
            <type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
                   <model_rt>localisation/location</model_rt>
                   <method>getLocations</method>
				</data_source>
				<fields>
					<field>location_id</field>
					<field>name</field>
				</fields>
			</variants>
        </item>
        <item id="default_citylink_tax_class_id">
            <type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
                   <model_rt>localisation/tax_class</model_rt>
                   <method>getTaxClasses</method>
				</data_source>
				<fields>
					<field>tax_class_id</field>
					<field>title</field>
				</fields>
			</variants>
        </item>
	    <item id="default_citylink_accept_payments">
            <type>checkboxgroup</type>
			<variants>
				<data_source>
                   	<model_rt>setting/extension</model_rt>
                   	<method>getEnabledPayments</method>
				</data_source>
				<fields>
					<field>extension_id</field>
					<field>key</field>
				</fields>
			</variants>
        </item>                        
    </settings>
    <install>
	    <sql></sql>
	    <trigger></trigger>
	</install>
	<uninstall>
	    <sql></sql>
	    <trigger></trigger>
	</uninstall>
</extension>