<?xml version="1.0" encoding="UTF-8"?>
<extension>
	<id>google_checkout</id>
	<version>1.0.0</version>
	<type>payment</type>
	<category>Payment</category>
	<cartversions>
		<item>1.1</item>
	</cartversions>
	<priority>10</priority>
	<dependencies/>
	<note>true</note>
	<help_file><![CDATA[help/google_checkout.txt]]></help_file>
	<help_link>http://code.google.com/apis/checkout</help_link>
	<settings>
		<item id="google_checkout_status">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="google_checkout_merchant_id">
			<type required="true">input</type>
			<default_value></default_value>
		</item>
		<item id="google_checkout_merchant_key">
			<type required="true">input</type>
			<default_value></default_value>
		</item>
		<item id="google_checkout_callback">
			<type>input</type>
			<default_value><![CDATA[#storefront#rt=extension/google_checkout/callback ]]></default_value>
		</item>
		<item id="google_checkout_total">
			<type >input</type>
			<default_value></default_value>
		</item>
		<item id="google_checkout_test">
			<type>selectbox</type>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
			<default_value>0</default_value>
		</item>
		<item id="google_checkout_order_status_id">
			<type>selectbox</type>
			<variants>
				<data_source>   
					<model_rt>localisation/order_status</model_rt>					   
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
		</item>
		<item id="google_checkout_location_id">
			<type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>   
					<model_rt>localisation/location</model_rt>					   
					<method>getLocations</method>
				</data_source>
				<fields>
					<field>location_id</field>
					<field>name</field>
				</fields>
			</variants>
		</item>
		<item id="google_checkout_sort_order">
			<type>input</type>
			<default_value>0</default_value>
		</item>
	</settings>
</extension>
