<?xml version="1.0" encoding="UTF-8"?>
<definitions>
  <definition>
    <key>text_index_home_menu</key>
    <value><![CDATA[Nhà]]></value>
  </definition>
  <definition>
    <key>text_product_special_menu</key>
    <value><![CDATA[đặc biệt]]></value>
  </definition>
  <definition>
    <key>text_account_account_menu</key>
    <value><![CDATA[Tài khoản]]></value>
  </definition>
  <definition>
    <key>text_checkout_cart_menu</key>
    <value><![CDATA[xe đẩy]]></value>
  </definition>
  <definition>
    <key>text_checkout_shipping_menu</key>
    <value><![CDATA[Kiểm tra]]></value>
  </definition>
  <definition>
    <key>text_account_login_menu</key>
    <value><![CDATA[Đăng nhập]]></value>
  </definition>
  <definition>
    <key>text_account_invoice_menu</key>
    <value><![CDATA[Kiểm tra Đơn hàng của bạn]]></value>
  </definition>
  <definition>
    <key>text_account_logout_menu</key>
    <value><![CDATA[Đăng xuất]]></value>
  </definition>
</definitions>
