<?xml version="1.0"?>
<extension>
    <id>diagnose</id>
    <version>1.0.0</version>
	<type>utility</type>
	<category>utility</category>
    <cartversions>
        <item>1.2</item>
    </cartversions>
    <layout></layout>
    <priority>10</priority>
    <settings>

    </settings>
    <note>true</note>
    <additional_settings>extension/diagnose_settings</additional_settings>
	<help_file><![CDATA[help.txt]]></help_file>
	<help_link><![CDATA[http://www.abantecart.com/ecommerce-documentation/admin-user-manual]]></help_link>
</extension>