/*
AbanteCart storefront CSS-styles for embedded blocks
*/
@charset "utf-8";

.abantecart-widget-container{
}

.abantecart-widget-container .abantecart_product{
	width: 200px;
}

.abantecart-widget-container .abantecart_image{
	margin: 10px auto;
}

a.abantecart-widget-cart {
	text-decoration: none;
}
.abantecart-widget-cart{
	position: fixed;
	right: 0;
	top: 80px;
	width: 100px;
	height: 100px;
	background-color: white;
	overflow: auto;
    visibility: visible;
    background: transparent url(../image/shoppingbag_icon.png) no-repeat;
    background-size: 80px;
}
.abantecart-widget-cart .cart_count {
	position: relative;
	top: 40px;
	left: 10px;
	width: 60px;
	text-align: center;	
}

#iframe_loading {
	text-align: center;	
	height: 650px;
	background-color: white;
	overflow: auto;
    background: transparent url(../image/spinner.gif) no-repeat;
	background-position: center;
}

/**** product ******/


.abantecart_image .product_thumb img {
	width: 200px;
}

.abantecart_name {
	text-align: center;
}

.abantecart_price  {
	margin-top: 10px;
	font-size: 16px;
	padding-left: 20%;
	padding-right: 20%;
}


.abantecart_price .priceold {
	float: left;
	margin-right: 10px;
	text-decoration: line-through;
}

.abantecart_quantity {
	margin: 10px 5px 0 0 ;
	overflow: hidden;
	width: auto;
}
.abantecart_quantity input{
	min-width: 43px;
}
.abantecart_addtocart {
	margin: 10px 5px 0 0 ;
	overflow: hidden;
}
