/*
AbanteCart storefront CSS-styles for embedded blocks
*/
@charset "utf-8";

.abantecart-widget-container{
}

.abantecart-widget-container .abantecart_product{
	width: 200px;
}


.abantecart-widget-container .abantecart_image{
	margin: 10px auto;
}

.abantecart-widget-cart{
	position: fixed;
	right: 0;
	top: 80px;
	width: 100px;
	height: 100px;
	background-color: white;
	overflow: auto;
    visibility: visible;
    background: transparent url(../image/shoppingbag_icon.png) no-repeat;
    background-size: 80px;
}
.abantecart-widget-cart .cart_count {
	position: relative;
	top: 40px;
	left: 32px;
	width: 60px;	
	text-decoration: none !important;
}

.product_thumb img{
	width: 200px;
}