/* Main "global" styles */
html {
	margin: 0;
	padding: 0;
}

body {
	font: normal 11px Tahoma, Arial, Helvetica;
	color: #000000;
	background: #fff;
	margin: 0px;
	padding: 0px;
}

form {
	padding: 0;
	margin: 0;
	display: inline;
}

a {
	color: #5b656d;
	text-decoration: underline;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

input, textarea, select {
	font: normal 11px Tahoma, Arial, Helvetica;
}

a img {
	border: none;
}

/* common */
.flt_left {
	float: left;
}

.flt_right {
	float: right;
}

.flt_none {
	float: none;
}

.clr_left {
	clear: left;
}

.clr_right {
	clear: right;
}

.clr_both {
	clear: both;
}

.inline {
	display:inline;
}

/*** layout ***/
#wrapper {
    margin: 0 auto;
    min-width: 700px;
	text-align: center;
}

#container {
	min-width: 700px;
	padding: 0 30px 0 30px;
	margin: 0;
	text-align: left;
}

/* header */
#header {
	margin: 0 0 18px 0;
}

#header_bottom {
	margin: 10px 0 0 0;
	clear: both;
	width: 100%;
}
.header_block{
    margin-bottom: 5px;
}

.h_section1 {
	min-height: 103px;
}

.h_section1 .flt_left {
	margin-right: 10px
}

.h_section2 {
	height: 52px;
	clear: right;
}

.h_section2_left {
	background: url(../image/bar_top_left.png) bottom left no-repeat;
	clear: right;
}

.h_section2_right {
	background: url(../image/bar_top_right.png) bottom right no-repeat;
	padding: 0 5px 0 5px;
}

.h_section2_mid {
	background: url(../image/bar_top_mid.png) bottom repeat-x;
	height: 52px;
}

.h_section3 {
	margin: 2px 0 0 0;
	height: 45px;
}

.h_section3_left {
	background: url(../image/section1_left.png) 0 0 no-repeat;
}

.h_section3_right {
	background: url(../image/section1_right.png) 100% 0 no-repeat;
	padding: 0 5px 0 5px;
}

.h_section3_mid {
	background: url(../image/section1_mid.png) 0 0 repeat-x;
	height: 45px;
}

.breadcrumb {
	margin-top: 18px;
	height: 20px;
	line-height: 20px
}

.breadcrumb-separator {
	padding: 0 10px;
}

.breadcrumb-element {
}

.breadcrumb-element a {
	font: normal 11px/20px Tahoma;
	color: #8d949a;
	text-decoration: none;
}

#external_links div {
	float: left;
	margin: 12px 0 8px 8px;
}

/* main content */
#main_content {
}

#content_mid {
	float: none;
	margin: 0 190px;
}

.container-right #content_mid {
	margin: 0 0 0 190px;
}

.container-left #content_mid {
	margin: 0 190px 0 0;
}

.container-long #content_mid {
	margin: 0;
}

.container-right #column_right {
	display: none;
}

.container-left #column_left {
	display: none;
}

.container-long #column_left,
.container-long #column_right {
	display: none;
}

#content {
    overflow: hidden;
}

#content_bottom {
	margin: 10px 0 0 0;
	overflow: hidden;
}

#content_top {
	margin: 0px 0 10px 0;
	overflow: hidden;
}

#column_left {
	float: left;
	width: 180px;
	margin: 0;
	clear: left;
}

#column_right {
	float: right;
	width: 180px;
	margin: 0;
	clear: right;
}

/* footer */
#footer {
	/*background: url(../image/bar_bottom.gif) 0 0 repeat-x;*/
	clear: both;
	margin: 12px 0 30px 0;
}

#footer_top {
	margin: 10px 0 0 0;
	clear: both;
}
.footer_block{
    margin-top: 5px;
    margin-left: 5px;
}
.f_section0_left {
	background: url(../image/bar_top_left.png) top left no-repeat;
	clear: right;
}

.f_section0_right {
	background: url(../image/bar_top_right.png) top right no-repeat;
	padding: 0 5px 0 5px;
}

.f_section0_mid {
	background: url(../image/bar_top_mid.png) top repeat-x;
	height: 16px;
}

.f_section1 {
	padding: 14px 0 0 0;
}

.f_section1_left {
	background: url(../image/footer_left.png) 0 0 no-repeat;
}

.f_section1_right {
	background: url(../image/footer_right.png) 100% 0 no-repeat;
	padding: 0 5px 0 5px;
}

.f_section1_mid {
	background: url(../image/footer_mid.png) 0 0 repeat-x;
	height: 45px;
}

.f_section2 {
	margin: 18px 0 0 0;
}

/*** Template specific layout elements ***/

/* header elements */
#logo {
	float: left;
	margin: 24px 10px 0 0;
}

#social_links {
	display: inline-block;
	margin: 11px 0 0 10px;
}

#search {
	padding: 12px 0 0 5px;
	display: inline-block;
}
/*
c input {
	color: #5f5f5f;
	border: 1px solid #949494;
	border-bottom: none;
	border-right: none;
	padding: 2px;
}*/

.button_search {
	background: url(../image/search_btn.png) 0 0 no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	text-decoration: none;
	margin-top: 4px;
	margin-left: 4px;
}

#currency {
	padding: 45px 0 0 30px;
}

#currency .heading_title {
	display: inline-block;
	margin: 6px 0 0 0;
}

#language {
	padding: 45px 0 0 56px;
}

#language .heading_title {
	display: inline-block;
	margin: 6px 0 0 0;
}

#cart_top {
	padding: 16px 0 0 0;
}

#cart_top .heading_title {
	display: inline-block;
	margin: 25px 0 0 5px;
	font-weight: bold;
	text-transform: uppercase;
}

#cart_top .cart_items {
	display: inline-block;
	margin: 5px 8px 0 5px;
	text-transform: lowercase;
}

#cart_top .cart_checkout {
	background: url(../image/bullet_2.gif) 0 52% no-repeat;
	text-transform: lowercase;
	display: inline-block;
	text-indent: 8px;
}

#cart_top .cart_checkout a {
}

.gray_separator {
	border-bottom: 1px solid #dedede;
	height: 0;
	margin: 10px 0;
}

.sep {
	height: 10px;
}

.checkout_confirm {
}

.checkout_confirm a {
	color: #F65202;
}

.checkout_heading, a.checkout_heading {
	font: bold 13px Tahoma;
	color: #3b3b3b;
}

/* main menu */
#main_menu {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	clear: left;
	height: 0px;
}

#main_menu li {
	float: left;
	margin: 0 0 0 2px;
	height: 38px;
}

#main_menu li ul {
	display: none;
	position: absolute;
	margin: -5px 0 0 -40px;
}

#main_menu li ul li {
	float: none;
	list-style: none;
	background: #ccc;
}

#main_menu li:hover > ul {
	display: block;
}

#main_menu li ul li ul {
	margin: -30px 0 0 70px;
}

#main_menu li a {
	background: url(../image/menu.png) 0 0 no-repeat;
	display: block;
	line-height: 38px;
	height: 42px;
	text-align: center;
	width: 117px;
	color: #7d858b;
	font-size: 14px;
	text-decoration: none;
}

#main_menu li a:hover {
	background: url(../image/menu_hover.png) -6px 0 no-repeat;
	color: #fff;
}

#main_menu li a span {
	display: block;
	height: 3px;
}

#main_menu li a:hover span {
}

/* info links */
#info_links {
	list-style: none;
	white-space: nowrap;
	margin: 0 0 0 18px;
	padding: 0;
}

#info_links li {
	display: inline-block;
	line-height: 45px;
	margin: 0;
	padding: 0 13px 0 13px;
}

#info_links li a {
	color: #5b656d;
	text-decoration: none;
	padding: 0 0 0 25px;
	display: inline-block;
	line-height: 20px;
}

#info_links li a:hover {
	text-decoration: underline;
}

#info_links .nav_sep {
	background: url(../image/nav_sep.png) 0 50% no-repeat;
	width: 1px;
	padding: 0;
}

#info_links .special {
	background: url('../image/special.png') 0 50% no-repeat;
}

#info_links .bookmark {
	background: url('../image/bookmark.png') 0 50% no-repeat;
}

#info_links .contact {
	background: url('../image/contact.png') 0 50% no-repeat;
}

#info_links .sitemap {
	background: url('../image/sitemap.png') 0 50% no-repeat;
}

/* bottom elements */
#copyright {
	color: #5b656d;
	text-align: right;
}

#copyright a {
	font-weight: bold;
	color: #f65202;
}

#payment {
	margin: 10px 0 0 0;
}

/* bottom menu */
#bottom_menu {
	list-style: none;
	margin: 0;
	padding: 0 0 0 13px;
}

#bottom_menu li {
	float: left;
	line-height: 45px;
	margin: 0 40px 0 0;
}

#bottom_menu li a {
	color: #000;
	font-size: 12px;
	text-decoration: none;
}

#bottom_menu li a:hover {
	text-decoration: underline;
}

.button {
	text-decoration: none;
}

button.btn_standard {
    background: none repeat scroll 0 0 transparent;
    border: medium none !important;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    padding: 0;
}

.btn_standard {
	display: inline-block;
	text-decoration: none;
}

.btn_standard span, .button {
	display: block;
	white-space: nowrap;
	margin: 0;
	overflow: hidden;
	height: 24px;
	padding-right: 9px; /* sliding doors padding */
	text-decoration: none;
}

.btn_standard span span, .button span {
	font: normal 12px Arial, Helvetica, sans-serif;
	height: 14px;
	line-height: 14px;
	padding: 5px 6px 5px 15px;
}

.btn_standard span span img, .button span img {
	margin-right: 5px;
}

.btn_standard:active span, .button:active {
	background-position: bottom right;
	color: #000;
	outline: none;
}

.btn_standard:active span span, .button:active span {
	background-position: bottom left;
}

/* for old buttons - BOF */
.button {
	background: url(../image/button/btn_right_blue.png) no-repeat top right;
	display: inline-block;
	vertical-align: bottom;
}

.button span {
	background: url(../image/button/btn_left_blue.png) no-repeat 0 0;
	color: #fff;
	display: block;
}

/* for old buttons - EOF */

.button1 {
	background: url(../image/button/btn_right_orange.png) no-repeat top right;
}

.button1 span {
	background: url(../image/button/btn_left_orange.png) no-repeat 0 0;
	color: #fff;
}

.button2 {
	background: url(../image/button/btn_right_gray.png) no-repeat top right;
}

.button2 span {
	background: url(../image/button/btn_left_gray.png) no-repeat 0 0;
	color: #11558f;
}
.button2 span img {
	vertical-align:middle;
}

.button3 {
	background: url(../image/button/btn_right_blue.png) no-repeat top right;
}

.button3 span {
	background: url(../image/button/btn_left_blue.png) no-repeat 0 0;
	color: #fff;
}

/* Customed select box */
.switcher {
	float: right;
	margin: 0px 0 0 6px;
}

.switcher a {
	text-decoration: none;
	display: block;
}

.switcher .selected {
}

.switcher .selected a {
	border: 1px solid #e7e7e7;
	background: url(../image/arrow_down.gif) 99% 50% no-repeat;
	color: #000000;
	padding: 6px 5px 5px 5px;
	width: 140px;
}

.switcher .selected a span {
	text-decoration: underline;
}

.switcher .selected a:hover {
	background: #f8f8f8 url(../image/arrow_down.gif) 99% 50% no-repeat;
}

.switcher .option {
	position: absolute;
	z-index: 3;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	background-color: #f8f8f8;
	display: none;
	width: 150px;
}

.switcher .option a {
	color: #000;
	padding: 4px 5px 4px 5px;
}

.switcher .option a:hover {
	background: #f1f1f1;
}

.switcher img {
	position: relative;
	top: 1px;
}

/* Overrides for element common settings */
#currency .switcher .selected a {
	background-position: 99% 50%;
	width: 140px;
}

#currency .switcher .selected a:hover {
	background-position: 99% 50%;
}

#currency .switcher .option {
	width: 150px;
}

#content .top .left {
	background: url(../image/box_top_l_new.gif) no-repeat;
	width: 5px;
	height: 35px;
	float: left;
}

#content .top .right {
	background: url(../image/box_top_r_new.gif) no-repeat;
	width: 5px;
	height: 35px;
	float: right;
}

#content .top .center {
	background: url(../image/box_top_m_new.gif) repeat-x;
	margin-left: 5px;
	margin-right: 5px;
	height: 35px;
}

#content .top h1 {
	padding: 9px 0px 9px 7px;
	margin: 0;

}

#content h1, .heading {
	color: #fff;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
}

.tab_page h1, .tab_page .heading {
	color: #000
}

.heading {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 3px;
	margin-bottom: 10px;
}

#content .middle {
	border-left: 2px solid #c1c1c1;
	border-right: 2px solid #c1c1c1;
	background: #FFFFFF;
	padding: 10px 10px 1px 10px;
	min-height: 30px;
	margin-top: 0px;
}

#content .bottom .left {
	background: url(../image/box_bottom_l_new.gif) no-repeat;
	width: 5px;
	height: 5px;
	float: left;
}

#content .bottom .right {
	background: url(../image/box_bottom_r_new.gif) no-repeat;
	width: 5px;
	height: 5px;
	float: right;
}

#content .bottom .center {
	border-bottom: 2px solid #c1c1c1;
	height: 3px;
	margin: 0 5px 0 5px;
}

#content .login .top .left {
	background: url(../image/box_top_l_login.gif) no-repeat;
	width: 5px;
	height: 36px;
	float: left;
}

#content .login .top .right {
	background: url(../image/box_top_r_login.gif) no-repeat;
	width: 5px;
	height: 36px;
	float: right;
}

#content .login .top .center {
	background: url(../image/box_top_m_login.gif) repeat-x;
	margin-left: 5px;
	margin-right: 5px;
    height: 36px;
}

#content .login .top h1 {
	background: url(../image/login.gif) center left no-repeat;
	line-height: 36px;
	margin: 0 0 0 10px;
	padding: 0 0 0 25px;
}

#content .content_block {
	font: normal 12px Tahoma;
	color: #7f7f7f
}

#content .content_block p {
	margin: 0;
	padding: 0
}

#content .content_block a {
	color: #f65202
}

#content .content_block .block_heading {
	font: bold 13px Tahoma;
	color: #3b3b3b;
	display: block;
	margin: 20px 0 6px;
}

#content .login .content_block {
	display: inline-block;
	width: 49%;
}

#content .login .content_block .middle .middle_content {
	min-height: 170px;
}

#content .login .middle {
	border: none;
	background: #FFFFFF;
	padding: 0;
	min-height: 30px;
}

#content .login .bottom .left,
#content .login .bottom .right,
#content .login .bottom .center {
	display: none;
}

#content .content_block .top {
	height: 4px;
}

#content .content_block .top .left {
	background: url(../image/content_box_top_l_login.gif) no-repeat;
	width: 4px;
	height: 4px;
	float: left;
}

#content .content_block .top .right {
	background: url(../image/content_box_top_r_login.gif) no-repeat;
	width: 4px;
	height: 4px;
	float: right;
}

#content .content_block .top .center {
	background: none;
	border-top: 2px solid #c1c1c1;
	height: 4px;
	margin-left: 4px;
	margin-right: 4px;
}

#content .content_block .middle {
	border-left: 2px solid #c1c1c1;
	border-right: 2px solid #c1c1c1;
	background: #FFFFFF;
}

#content .content_block .middle .middle_content {
	padding: 20px;
}

#content .content_block .bottom .left,
#content .content_block .bottom .right,
#content .content_block .bottom .center {
	display: block;
}

#content h1.product_title {
	font: normal 18px Tahoma;
	color: #595959;
	margin: 0 0 20px;
}

#content .product_info .middle .middle_content {
	margin-right: 230px;
}

#content .product_options {
	width: 300px;
	float: right;
	margin: -10px -8px -2px 0
}

#content .product_options .top {
}

#content .product_options .top .left {
	background: url(../image/product_info_tl.png) no-repeat;
	width: 5px;
	height: 5px;
	float: left;
}

#content .product_options .top .right {
	background: url(../image/product_info_tr.png) no-repeat;
	width: 5px;
	height: 5px;
	float: right;
}

#content .product_options .top .center {
	border: none;
	background: url(../image/product_info_tm.png) top left repeat-x;
	height: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

#content .product_options .middle {
	border-left: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
	background: #FFF url(../image/product_info_m.png) top left repeat-x;
	padding: 15px 20px;
	min-height: 150px;
}

#content .product_options .bottom .left {
	background: url(../image/product_info_bl.png) no-repeat;
	width: 5px;
	height: 5px;
	float: left;
}

#content .product_options .bottom .right {
	background: url(../image/product_info_br.png) no-repeat;
	width: 5px;
	height: 5px;
	float: right;
}

#content .product_options .bottom .center {
	background: none;
	border-bottom: 1px solid #c1c1c1;
	height: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

#content .product_options .price-wrapper {
	margin-bottom: 10px
}

#content .product_options .price {
	font: normal 20px Tahoma;
	color: #000;
}

#content .product_options .old_price {
	font: normal 16px Tahoma;
	color: #bbb;
	text-decoration: line-through;
}

#content .product_options .special_price {
	font: normal 20px Tahoma;
	color: #F65202;
}

#content .product_options .separator {
	margin: 12px 0;
	height: 3px;
	line-height: 3px;
	background: url(../image/product_options_separator.png) repeat-x;
}

#content .product_options .option_title {
	font: bold 12px Tahoma;
	color: #000;
}

#content .product_options .text_element input,
#content .product_options .textarea_element textarea,
#content .product_options .select_element select {
	width: 140px;
	color: #7f7f7f;
	border: 1px solid #d0d4dd;
	padding: 4px;
}

#content .product_info .product_overview {
	margin-right: 200px;
}

#content .product_info .product_images {
	float: right;
	width: auto;
}

#content .product_info .product_images .main_image {
}

#content .product_info .product_images .additional_images {
}

#content .product_info .product_images .additional_images div {
	float: left;
	margin: 4px;
	border: 2px solid #e5e5e5
}

#content .product_info .product_images .additional_images img {
	border: 1px solid #fff
}

#content .product_info .product_images .enlarge {
	margin-top: 10px;
	height: 14px;
	line-height: 14px;
	text-align: center;
}

#content .product_info .product_images .enlarge span {
	background: url('../image/icon_enlarge.png') center left no-repeat;
	color: #F65202;
	padding-left: 16px;
}

#content .tab_block .middle {
	margin: 0;
	padding: 0;
}

#content .tab_block .middle .middle_content {
	padding: 20px;
	margin: 0;
}

#content .tab_block .related_product {
	/*width: 120px;*/
	min-height: 200px;
	max-height: 250px;
	float: left;
	padding: 0px;
	margin: 10px 10px;
	text-align: center;
}

.success {
	padding: 5px 5px 5px 15px;
	margin-bottom: 10px;
	background: #E4F1C9;
	border: 1px solid #A5BD71;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
}

.warning {
	padding: 5px 5px 5px 15px;
	margin: 10px 0;
	background: #FFDFE0;
	border: 1px solid #FF9999;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
}

.wait {
	padding: 5px 5px 5px 15px;
	margin-bottom: 10px;
	background: #FBFAEA;
	border: 1px solid #EFEBAA;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
}

.required {
	color: #FF0000;
	font-weight: bold;
}

.error {
	color: #FF0000;
	display: block;
	clear: both;
}

.help {
	cursor: pointer;
}

.tooltip {
	border: 1px solid #FDDA5C;
	background: #FBFF95;
	padding: 5px;
	font-size: 11px;
	width: 250px;
}

.clear {
	/* generic container (i.e. div) for floating buttons */
	overflow: hidden;
	width: 100%;
}

.buttons {
	padding: 5px;
	margin-bottom: 10px;
}

.buttons input {
	padding: 0px;
	margin: 0px;
}

.buttons table {
	width: 100%;
	border-collapse: collapse;
}

.buttons table td {
	vertical-align: middle;
}

.content {
	background: #F7F7F7;
	border: 1px solid #DDDDDD;
	padding: 10px;
	margin-top: 3px;
	margin-bottom: 10px;
}

#content_search {
	background: #F7F7F7;
	border: 1px solid #DDDDDD;
	padding: 10px;
	margin-top: 3px;
	margin-bottom: 10px;
}

.list {
	overflow: auto;
}

table.list {
	width: 100%
}

.list_product {
	width: 25%;
	padding: 5px;
	text-align: center;
}

.list_product .model {
	color: #999;
	font-size: 11px;
}

.list_product .price {
	color: #900;
	font-weight: bold;
}

.list_product .regular-price {
	color: #900;
	font-weight: bold;
	text-decoration: line-through;
}

.list_product .special-price {
	color: #F00;
}

.list_product .buy,
.list_product .info {
	display: inline-block;
	height: 13px;
	width: 13px;
	margin-left: 3px;
	vertical-align: middle;
	background: url(../image/info_btn.gif) no-repeat;
	text-decoration: none;
}

.list_product .buy {
	background: url(../image/add_btn.gif) no-repeat
}

ul.list {
	list-style: none;
	margin: 0;
	padding: 0
}

ul.list li {
	width: 120px;
	float: left;
	margin: 5px;
	text-align: center
}

.sort {
	margin-bottom: 10px;
	background: #F8F8F8;
	height: 37px;
	width: 100%;
}

.sort .div1 {
	float: right;
	margin-left: 5px;
	padding-top: 6px;
	padding-right: 9px;
}

.sort .div2 {
	text-align: right;
	padding-top: 13px;
}

.sort select {
	font-size: 11px;
	margin: 0;
	padding: 0;
}

.pagination {
	display: inline-block;
	width: 100%;
	background: #F8F8F8;
	margin-bottom: 10px;
	line-height: 23px;
}

.pagination .limits, .pagination .links, .pagination .results {
	padding: 7px;
}

.pagination .limits select {
	width: 50px;
}

.pagination .limits,
.pagination .links {
	float: left;
}

.pagination .links ul {
	float: left;
  	display: inline-block;
  	margin: 0;
	padding: 0;
}


.pagination .links a {
	border: 1px solid #CCCCCC;
	padding: 4px 7px;
	text-decoration: none;
	color: #000000;
}

.pagination .links b {
	border: 1px solid #CCCCCC;
	padding: 4px 7px;
	text-decoration: none;
	color: #000000;
	background: #FFFFFF;
}

.pagination .links ul, .pagination .links ul li {
	display: inline-block;
	list-style: none outside none;
	float:left;
}

.pagination .results {
	float: right;
}

#review .pagination .limits {
	display: none
}

.tabs {
	width: 100%;
	height: 49px;
	margin: 20px 0 0 0px;
}

.tabs a {
	float: left;
	display: block;
	margin-right: -1px;
	background: url(../image/product_tab_mid.png) repeat-x;
	color: #595959;
	font-size: 14px;
	line-height: 49px;
	text-decoration: none;
	z-index: 1;
	position: relative;
	top: 3px;
}

.tabs a span.tab_left {
	float: left;
	background: url(../image/product_tab_left.png) no-repeat;
	width: 5px;
	height: 49px;
}

.tabs a span.tab_right {
	float: right;
	background: url(../image/product_tab_right.png) no-repeat;
	width: 5px;
	height: 49px;
}

.tabs a span.tab_text {
	padding: 0px 20px;
}

.tabs a.selected {
	background: url(../image/product_tab_mid_active.png) repeat-x;
}

.tabs a.selected span.tab_left {
	background: url(../image/product_tab_left_active.png) no-repeat;
}

.tabs a.selected span.tab_right {
	background: url(../image/product_tab_right_active.png) no-repeat;
}

.tab_page {
}

/* category list */
.category_list ul {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 8px;
	padding-left: 0px;
	list-style: none;
}

.category_list li {
	margin-top: 5px;
	margin-bottom: 5px;
}

.category_list li a {
	color: #5b656d;
	padding-left: 12px;
	background: url(../image/bullet_1.gif) center left no-repeat;
}

.information ul, .brands ul {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 8px;
	padding-left: 12px;
	list-style: url(../image/bullet_1.gif);
}

.information li, .brands li {
	margin-top: 5px;
	margin-bottom: 5px;
}

.information li a, .brands li a {
	color: #5b656d;
}

.tags, .tags a {
	font-style: italic;
	font-size: x-small;
}

#block_cart .cart_content {
	padding: 5px;
}

.cart_block_total {
	padding: 0 3px 0 3px;
	font-size: 0.9em;
	color: #222;
}

.cart_remove {
	margin-top: 3px;
	background: url(../image/list_remove_btn.gif) no-repeat left center transparent;
	padding-right: 10px;
	cursor: pointer;
}

.cart_remove_loading {
	margin-top: 3px;
	background: url(../image/ajax_load.gif) no-repeat transparent;
	padding-right: 10px;
}

.button_add_small, a.button_add_small:visited {
	margin-top: 3px;
	background: url(../image/add_btn.gif) no-repeat left center transparent;
	padding: 5px;
	text-decoration: none;
	cursor: pointer;
}

.cart{
	width: 100%;
	
}
.cart td{
	vertical-align: middle;
	padding:  6px;
}

#content .middle .box {
	float: left;
	margin: 0 6px 10px 6px;
	min-height: 0px;
}

#content .middle .box .middle {
	width: 158px;
	min-height: 0px;
}

/* debug */
.debug_info {
	text-align: left;
	margin: 50px 10px 0;
	clear: both;
}

.debug_info td {
	border-bottom: 1px solid #aaa
}

.mysql {
	margin-top: 10px;
}

.debug_info .even {
	background-color: #eeeeee;
}

.debug_error {
	background: #EFEBAA;
	color: #FF0000;
}

.debug_warning {
	background: #ffff66;
	color: #000000;
}

/* forms */

.form {
	color: #7f7f7f;
}

.form label {
	float: left;
	width: 150px;
	font-weight: bold;
}
/*
.text_element,
.select_element,
.textarea_element,
.radio_element,
.checkbox_element,
.required {
	float: left;
}*/

div.element_description {
	clear: both;
	margin: 0 0 0 150px;
	font-size: 10px;
	min-height: 12px;
}

div.element_error {
	clear: both;
	margin: 0 0 10px 150px;
	font-size: 11px;
	color: red
}

.text_element input,
.textarea_element textarea,
.select_element select {
	width: 200px;
	color: #7f7f7f;
	border: 1px solid #d0d4dd;
	padding: 4px;
}

.textarea_element textarea {
	width: 300px;
	height: 150px;
}

input.highlight  {
	background: none repeat scroll 0 0 #F5F06E;
    border: 1px solid #B5B264;
}

input.error  {
	background: none repeat scroll 0 0 #FFDFE0;
    border: 1px solid #FF9999;
}

.radio_element label,
.checkbox_element label {
	float: none;
	display: inline-block;
	font-weight: normal;
}

.group_description {
	margin: 0;
	padding: 0
}

.text_element input.short
{
	width: 20px !important;
}

.select_element .short
{
	width: auto !important;
}



.group_fields {
	margin: 5px 0 15px
}

.group_fields .gtop .left {
	background: url(../image/cbox_top_l_new.png) no-repeat;
	width: 5px;
	height: 5px;
	float: left;
}

.group_fields .gtop .right {
	background: url(../image/cbox_top_r_new.png) no-repeat;
	width: 5px;
	height: 5px;
	float: right;
}

.group_fields .gtop .center {
	background: url(../image/cbox_top_m_new.png) 0 0 repeat-x;
	margin: 0 5px;
	height: 5px;
}

.group_fields .gmiddle {
	border-left: 2px solid #c1c1c1;
	border-right: 2px solid #c1c1c1;
	background: #FFFFFF;
	padding: 10px 10px 1px 10px;
	min-height: 30px;
}

.group_fields .gbottom .left {
	background: url(../image/box_bottom_l_new.gif) no-repeat;
	width: 5px;
	height: 5px;
	float: left;
}

.group_fields .gbottom .right {
	background: url(../image/box_bottom_r_new.gif) no-repeat;
	width: 5px;
	height: 5px;
	float: right;
}

.group_fields .gbottom .center {
	border-bottom: 2px solid #c1c1c1;
	height: 3px;
	margin: 0 5px 0 5px;
}

/* Post-it notes */
.block_tmpl_wrapper {
	position: relative;
}

.postit_notes_box {
	font: 11px Tahoma, Arial, Helvetica;
	color: #000000;
	position: absolute;
	top: 0;
	right: 0;
}

.postit_notes_box_parent {
	position: absolute;
	top: -20px;
}

#header .postit_notes_box_parent {
	top: -5px;
}

.postit_icon {
	background: url(../image/icon_note.png) 50% 50% no-repeat;
	width: 20px;
	height: 16px;
	display: inline-block;
	margin: 10px 6px 0 0;
	cursor: pointer;
}

.postit_notes {
	display: none;
	position: absolute;
	z-index: 999;
	top: 0;
	margin: 8px 0 0 25px;
	border: 1px solid #000;
	background: #d6df2f;
	padding: 6px 8px;
}

.postit_notes ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
}

.postit_notes ul li {
	margin: 4px 0;
	display: block;
	white-space: nowrap;
}

.postit_notes ul ul {
	margin-left: 8px;
}

.postit_notes a {
	text-decoration: none;
}

.postit_notes a.icon_xpandarrow {
	background: url(../image/icon_collapse.png) 100% 50% no-repeat;
	padding-right: 12px;
	color: #000;
	font-weight: bold;
}

.postit_notes a.icon_xpandarrow:hover {
	text-decoration: underline;
}

.postit_notes a.icon_xpandarrow.expand {
	background: url(../image/icon_expand.png) 100% 50% no-repeat;
}

.postit_notes.show {
	display: block;
}

.postit_notes .collapse {
	height: 0;
}

.postit_notes .expand {
	height: auto;
}

.postit_close {
	position: absolute;
	right: 8px;
}

.postit_close .icon_close {
	display: inline-block;
	background: url(../image/close_icon.gif) no-repeat;
	width: 11px;
	height: 11px;
}

.payment {
	margin-top: 10px;
	line-height: 26px;
}

#captcha {
	margin-top: 5px;
}

/* product downloads */
.downloads>li{
}

.downloads>li img{
	width: 40px;
	vertical-align: top;
	display: inline-block;
}

.downloads>li>div{
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
}
.downloads>li:hover{
	background-color: #f0f0f0;
}

.downloads>li small{
	display: block;
}

.download-list-attributes{
	line-height: 14px;
	margin-left: 20px;
}

.download-list {
	width: 100%;
}

.download-list>tbody>tr>td:first-child div{
	display: inline-block;
}

.download-list>tbody>tr>td:last-child{
	vertical-align: middle;
	text-align: right;
}
